.tnews {
	padding-top: 4px;

	&_menu {
		margin: 0px 20px 26px 60px;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px -20px 26px 20px;
		}

		&:before {
			top: 7px;
			color: $c4;
			right: 100%;
			display: block;
			position: absolute;
			margin-right: 15px;
			content: $ico_filter;
			pointer-events: none;
			font: 24px/24px 'icons';
			transition: all .2s ease-out-sine;
		}

		.sod {
			&_label {
				@mixin max-width, $mobile-breakpoint {
					background: $c6;
				}
			}
		}
	}
	&_item {
		display: none;

		&._active {
			display: block;
		}
	}
}