.tteam {
	top: 19px;
	right: 20px;
	position: absolute;

	@mixin max-width, $mobile-breakpoint {
		top: auto;
		right: auto;
		display: block;
		position: relative;
		margin: 24px -20px 6px 20px;
	}

	&:before {
		top: 7px;
		right: 100%;
		color: $c4;
		display: block;
		position: absolute;
		margin-right: 15px;
		content: $ico_filter;
		pointer-events: none;
		font: 24px/24px 'icons';
		transition: all .2s ease-out-sine;
	}
}