.lfooter {
	font-size: 0px;
	background: $c6;
	line-height: 0px;
	margin-top: 80px;

	@mixin max-width, $mobile-breakpoint {
		margin-top: 40px;
	}

	/*#region [scheme][:]*/
	&_box {
		max-width: $mw;
		margin: 0px auto;
	}
	&_wrap {
		margin: 0px auto;
		max-width: $mw1220;
		position: relative;
		padding: 30px 20px 15px;

		@mixin max-width, $mobile-breakpoint {
			height: auto;
			max-width: $mw_mbl;
			padding: 36px 10px 16px;
		}

		&:after,
		&:before {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_side {
		width: $380;
		max-width: 318px;
		padding-left: 20px;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	&_foot {
		padding: 60px 20px 0px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_beep {
		display: none;
		font: 13px/20px $fmb;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&_sep {
			color: $c1;
			margin: 0px 10px;
			vertical-align: top;
			display: inline-block;
		}
		&_link {
			border: none;
			color: #000;
			text-transform: uppercase;

			&:first-child {
				&:before {
					color: $c1;
					content: '\2022';
					margin-right: 3px;
					vertical-align: top;
					font: 14px/12px $fms;
					display: inline-block;
				}
			}
		}
	}
	&_copyright {
		width: 50%;
		color: $c4;
		font: 13px/14px $fm;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			margin-top: 12px;
		}

		a {
			color: #000;
			margin-left: 10px;
			font-family: $fms;
			vertical-align: top;
			display: inline-block;

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}
		}
	}
	&_developer {
		width: 50%;
		color: #000;
		text-align: right;
		font: 13px/14px $fm;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			text-align: left;
			margin-top: 15px;
		}

		a {
			color: #000;
			border-color: transparent;

			&:hover {
				border-color: #000;
			}
		}
	}
	/*#endregion [object][;]*/

}