.lheader {
	z-index: 500;
	font-size: 0px;
	line-height: 0px;
	position: relative;

	@mixin max-width, $mobile-breakpoint {
		top: 0px;
		left: 0px;
		right: 0px;
		height: 60px;
		z-index: 500;
		position: fixed;
		background: #fff;
		border-bottom: 1px solid $c5;
	}

	/*#region [scheme][:]*/
	&_box {
		max-width: $mw;
		margin: 0px auto;
	}
	&_mid {
		z-index: 30;
		margin: 0px auto;
		max-width: 460px;
		min-height: 30px;
		position: relative;
		font: 13px/15px $fmm;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}

		b,
		strong {
			font-weight: 700;
			font-family: $fmb;
		}
	}
	&_bar {
		z-index: 30;
		float: right;
		position: relative;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}

		&:after,
		&:before {
			width: 100%;
			content: '';
			display: table;
		}

		& + & {
			margin-top: 32px;
		}
	}
	&_wrap {
		height: 130px;
		margin: 0px auto;
		max-width: $mw1220;
		padding: 10px 20px;
		position: relative;

		@mixin max-width, $mobile-breakpoint {
			height: auto;
			padding: 0px 20px;
			max-width: $mw_mbl;
		}

		&:after,
		&:before {
			width: 100%;
			content: '';
			display: table;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_nets {
		float: right;

		@mixin max-width, $mobile-breakpoint {
			float: none;
		}
	}
	/*#endregion [object][;]*/
}