.lbody {
	min-height: 100%;
	position: relative;
}

.lmain {
	&_back {
		border: none;
		color: #000;
		display: none;
		margin: 0px auto;
		background: #fff;
		max-width: $mw_mbl;
		font: 12px/16px $fm;
		padding: 12px 20px 9px;
		border-bottom: 1px solid $c5;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&:before {
			color: $c1;
			margin-right: -2px;
			vertical-align: top;
			content: $ico_arw_l1;
			display: inline-block;
			font: 24px/18px 'icons';
		}

		&:hover {
			border-color: $c5;
		}
	}
}

.lwrap {
	max-width: 820px;
	margin: 60px auto;
	padding: 0px 20px;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		padding: 0px 30px;
		max-width: $mw_mbl;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}
	&:last-child {
		margin-bottom: 0px;
	}

	&._merge {
		margin: -30px auto;

		@mixin max-width, $mobile-breakpoint {
			margin: -20px auto;
		}
	}
	&._merge_top {
		margin-top: -30px;

		@mixin max-width, $mobile-breakpoint {
			margin-top: -20px;
		}
	}
	&._merge_btm {
		margin-bottom: -30px;

		@mixin max-width, $mobile-breakpoint {
			margin-bottom: -20px;
		}
	}
}

.lbase {
	max-width: $mw;
	margin: 40px auto 60px;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
		}
	}
}

.lside {
	width: $380;
	float: left;

	@mixin max-width, $mobile-breakpoint {
		display: none;
	}

	&_title {
		color: #000;
		display: block;
		position: relative;
		font: 14px/18px $fms;
		margin: 40px 0px 25px;
		border-top: 1px solid $c5;
		text-transform: uppercase;
		padding: 17px 0px 0px 20px;

		&:before {
			width: 3px;
			height: 3px;
			content: '';
			background: #000;
			border-radius: 50%;
			vertical-align: top;
			display: inline-block;
			margin: 7px 6px 0px 0px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}
}

.lcontent {
	float: right;
	width: calc($800 - 20px);

	@mixin max-width, $mobile-breakpoint {
		float: none;
		width: auto;
	}

	&_head {
	}
}