.wcols {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		padding: 0px 10px;
		max-width: $mw_mbl;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
		margin-top: -4px;
	}

	&_head {
		color: $c1;
		padding: 0px 40px;
		max-width: $mw1220;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 20px;
			margin-bottom: 24px;
		}
	}
	&_body {
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			max-width: none;
		}
	}
	&_item {
		padding: 0px 20px;
		font: 13px/15px $fm;
		vertical-align: top;
		margin: 0px 10px -4px;
		display: inline-block;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			margin: 0px;
			display: block;
		}

		p {
			margin: 0px;

			& + p {
				margin-top: 14px;
			}
		}

		&_name {
			margin-bottom: 12px;
		}

		& + & {
			@mixin max-width, $mobile-breakpoint {
				margin-top: 26px;
			}
		}
	}
}