.wfind {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	overflow: hidden;
	margin: 0px auto;

	@mixin max-width, $mobile-breakpoint {
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
		}
	}
	&_head {
		margin-bottom: 30px;
		border-bottom: 2px solid $c1;
		padding: 30px 0px 30px 300px;

		@mixin max-width, $mobile-breakpoint {
			margin-bottom: 20px;
			padding: 30px 0px 20px;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_side {
		float: left;
		width: 280px;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			float: none;
			margin-bottom: 18px;
		}
	}
	&_base {
		float: right;
		width: calc(100% - 300px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			float: none;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_sum {
		height: 40px;
		color: #000;
		font: 16px/42px $fm;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			height: auto;
			display: block;
			line-height: 20px;
		}
	}
	/*#endregion [object][;]*/

}