.whead {
	max-width: $mw;
	overflow: hidden;
	margin: 40px auto 16px;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_side {
		float: left;
		width: calc(33.3334% - (20px - 20px * 1/3));

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	&_base {
		float: right;
		width: calc(66.6667% - (20px - 20px * 2/3));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			float: none;
		}
	}
	&_links {
		margin-top: 30px;
	}

	&._lrg {
		padding: 0px;
		max-width: 1811px;
		max-width: 1280px;
		max-width: $mw;

		@mixin max-width, $mobile-breakpoint {
			max-width: $mw_mbl;
		}

		^&_side {
			width: calc(100% / (1210 / 360));

			@mixin max-width, $mobile-breakpoint {
				width: auto;
			}
		}
		^&_base {
			width: calc(100% / (1210 / 830));

			@mixin max-width, $mobile-breakpoint {
				width: auto;
			}
		}
	}
	&._post {
		margin-bottom: 0px;
	}
}