.wtease {
	max-width: $mw;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_wrap {
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			display: block;
			max-width: none;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_beep {
		margin: 0px 10px;
		padding: 30px 20px 0px;
		border-top: 1px solid $c5;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
		}
	}
	&_cell {
		margin: 0px 10px;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	/*#endregion [object][;]*/

	&:last-child {
		margin-bottom: 0px;
	}
}