.ffind {
	z-index: 30;
	width: 30px;
	height: 30px;

	top: 80px;
	right: 20px;
	position: absolute;

	@mixin max-width, $mobile-breakpoint {
		top: 15px;
		right: 64px;
	}

	&_input {
		top: 0px;
		right: 0px;
		z-index: 1;
		opacity: 0;
		width: 30px;
		height: 30px;
		padding: 0px 10px;
		position: absolute;
		visibility: hidden;
		font: 13px/14px $fm;
		transition: all .2s ease-out-sine;
	}
	&_submit {
		top: 0px;
		right: 0px;
		color: $c1;
		z-index: 2;
		width: 30px;
		height: 30px;
		padding: 0px;
		display: block;
		position: absolute;
		transition: all .2s ease-out-sine;

		&:after {
			height: 30px;
			display: block;
			content: $ico_search;
			font: 24px/32px 'icons';
		}

		&:hover {
			color: $c2;
		}
	}

	&._show {
		width: 250px;

		@mixin max-width, $mobile-breakpoint {
			width: calc(100% - 84px);
		}

		^&_input {
			opacity: 1;
			width: 100%;
			visibility: visible;
			padding-right: 30px;
		}
	}
}