.forder {
	&_btns {
		overflow: hidden;
		margin: 25px 0px 0px;

		&_side {
			float: right;

			@mixin max-width, $mobile-breakpoint {
				float: none;
				margin-top: 20px;
			}
		}
	}
	&_line {
		height: 1px;
		border: none;
		background: $c5;
		margin: 30px 0px 27px;
	}
	&_cost {
		display: block;
		font: 18px/22px $fms;
		margin: 35px 0px 22px;
	}
	&_cards {
		width: 308px;
		margin: 20px auto 0px;
	}
	&_submit {
		width: 210px;
		height: 56px;
		color: #fff;
		text-align: left;
		white-space: normal;
		font: 14px/18px $fms;
		padding: 0px 15px 0px 45px;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			margin: 0px auto;
		}

		&_ico {
			top: 4px;
			left: 13px;
			position: absolute;

			&:after,
			&:before {
				display: block;
				font: 23px/24px 'icons';
			}
			&:after {
				margin-top: -2px;
			}
			&:before {
				content: $ico_done;
			}

			&._1 {
			}
			&._2 {
				&:after {
					content: $ico_credit;
				}
			}
			&._3 {
				&:after {
					margin-left: -2px;
					content: $ico_list;
				}
			}
		}

		&._r {
			background: $c1;

			&:hover {
				background: $c2;
			}
		}
		&._g {
			background: $c3;

			&:hover {
				background: $c2;
			}
		}
		&._payy {
			display: block;
			margin: 0px auto;
		}
		&._payb {
			width: 240px;
			margin-top: 24px;
		}
		&._disabled {
			color: #000;
			cursor: default;
			background: $c7;
			pointer-events: none;

			&:hover {
				background: $c7;
			}
		}
	}
}