.form {
	max-width: 820px;
	margin: 60px auto;
	padding: 0px 20px;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		padding: 0px 10px;
		max-width: $mw_mbl;
	}

	p {
		margin: 12px 0px 0px;
	}

	/*#region [scheme][:]*/
	&_box {
		background: #fff;
		position: relative;
		padding: 37px 20px 40px;
		box-shadow: 0px 2px 10px rgba(#000, .25);

		@mixin max-width, $mobile-breakpoint {
			padding: 27px 20px 30px;
		}
	}
	&_row {
		display: flex;
		flex-flow: wrap;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&_name {
			width: 148px;
			display: flex;
			text-align: right;
			align-items: center;
			font: 13px/30px $fm;
			padding: 1px 15px 0px 0px;
			justify-content: flex-end;

			@mixin max-width, $mobile-breakpoint {
				width: 100%;
				padding: 0px;
				display: block;
				text-align: left;
				line-height: 18px;
			}

			span {
				max-width: 100%;
				vertical-align: top;
				display: inline-block;
			}
		}

		& + & {
			margin-top: 19px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 17px;
			}
		}
	}
	&_wrap {
		margin: 0px auto;
		max-width: 580px;
	}
	&_foot {
		margin-top: 20px;
		padding-left: 148px;

		@mixin max-width, $mobile-breakpoint {
			padding-left: 0px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_error {
		display: none;
		color: $cerror;
		font: 14px/18px $fm;
		margin: 0px 0px 15px 148px;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px 0px 12px;
		}
	}
	&_title {
		text-align: center;
		margin-bottom: 21px;
		font: 18px/22px $fms;
	}
	&_input,
	&_select {
		height: 30px;
		flex-grow: 1;
		flex-basis: 0;

		&._1of2 {
			flex-grow: 0;
			flex-basis: calc(((100% - 148px) / 2) - (20px - 20px * 1/2));
		}
		&._tarea {
			height: 150px;
		}
	}
	&_notice {
		display: block;
		font: 14px/18px $fm;
		margin: 0px 0px 15px 148px;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px 0px 12px;
		}
	}
	&_submit {
		color: #fff;
		display: block;
		background: $c1;
		text-align: left;
		max-width: 240px;
		min-height: 40px;
		white-space: normal;
		font: 14px/18px $fms;
		padding: 12px 15px 10px;

		&:hover {
			background: $c2;
		}
		&._disabled {
			color: #000;
			cursor: default;
			background: $c7;
			pointer-events: none;

			&:hover {
				background: $c7;
			}
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.sod {
		&_label {
			height: 28px;
			line-height: 32px;
		}
		&_option {
			height: 30px;
			line-height: 32px;
		}
		&_select {
			&:after {
			}
		}
	}
	/*#endregion [plugin][;]*/

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}

.eCoupon {
	display: flex;
	flex-flow: wrap;
	margin-top: 19px;

	@mixin max-width, $mobile-breakpoint {
		display: block;
		margin-top: 17px;
	}

	&_lbl {
		width: 148px;
		display: flex;
		text-align: right;
		align-items: center;
		font: 13px/30px $fm;
		padding: 1px 15px 0px 0px;
		justify-content: flex-end;

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
			padding: 0px;
			display: block;
			text-align: left;
			line-height: 18px;
		}

		span {
			max-width: 100%;
			vertical-align: top;
			display: inline-block;
		}
	}
	&_fld {
		flex-grow: 1;
		flex-basis: 0;
		display: flex;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}
	}
	&_btn,
	&_input {
		height: 30px;
		width: calc(50% - (20px - 20px * 1/2));
		transition:
			border .3s ease-out-sine,
			background .3s ease-out-sine;
	}
	&_btn {
		height: 30px;
		transform: none;
		overflow: visible;

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
			margin-top: 2px;
		}

		&:after {
			top: 50%;
			opacity: 0;
			right: 100%;
			z-index: 10;
			content: '';
			width: 16px;
			height: 16px;
			display: block;
			border: 1px solid;
			position: absolute;
			border-radius: 50%;
			transform: scale(.6);
			margin: -8px 9px 0px 0px;
			border-color: $c5 transparent;
			transition: all .2s ease-out-sine;
			animation: spin .6s linear infinite both;
		}
		&:before {
			content: attr(data-base);
		}

		&._load {
			&:after {
				opacity: 1;
				transform: none;
			}
		}
		&._done {
			background: $cvalid;

			&:before {
				content: attr(data-done);
			}

			&:hover {
				background: #5d9452;
			}
		}
		&._fail {
			&:before {
				content: attr(data-fail);
			}
		}
		&[disabled] {
			background: $c3;

			&:hover {
				cursor: default;
				background: $c3;
			}
		}
	}
	&_input {
		margin-right: 20px;
		padding-right: 28px;

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
			margin: 0px;
		}
	}
}