.fplan {
	width: $880;
	font-size: 0px;
	min-width: 880px;
	line-height: 0px;
	position: relative;
	margin-bottom: 20px;
	padding: 0px 152px 0px 60px;

	@mixin max-width, $mobile-breakpoint {
		width: auto;
		min-width: auto;
		margin: 0px auto;
		padding: 0px 10px 20px;
		border-bottom: 1px solid $c5;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}
	&:before {
		top: 8px;
		left: 20px;
		color: $c4;
		display: block;
		position: absolute;
		content: $ico_filter;
		pointer-events: none;
		font: 24px/24px 'icons';
	}

	&_reset {
		top: 0px;
		right: 0px;
		color: $c1;
		width: 46px;
		height: 40px;
		position: absolute;
		vertical-align: top;
		display: inline-block;
		transition: all .2s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			margin-top: 10px;
			position: relative;
		}

		&:after {
			vertical-align: top;
			display: inline-block;
			content: $ico_refresh;
			font: 24px/24px 'icons';
		}

		&:hover {
			color: $c2;
		}
		&[disabled] {
			color: $c5;
			cursor: default;
		}
	}
	&_submit {
		top: 0px;
		right: 46px;
		width: 110px;
		height: 40px;
		color: #fff;
		background: $c1;
		padding: 0px 15px;
		position: absolute;
		vertical-align: top;
		font: 13px/42px $fms;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			right: auto;
			margin-top: 10px;
			position: relative;
		}

		&:hover {
			background: $c2;
		}
	}
	&_select {
		width: 20%;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
			display: block;
		}

		&._1 {
			width: 30%;

			@mixin max-width, $mobile-breakpoint {
				width: 100%;
			}
		}
		&._2 {
			width: 30%;

			@mixin max-width, $mobile-breakpoint {
				width: 100%;
			}
		}
		& + & {
			margin-left: -1px;

			@mixin max-width, $mobile-breakpoint {
				margin: -1px 0px 0px;
			}
		}
	}
}