.fsearch {
	font-size: 0px;
	background: $c5;
	line-height: 0px;


	/*#region [scheme][:]*/
	&_box {
		max-width: $mw;
		margin: 0px auto;
	}
	&_wrap {
		margin: 0px auto;
		padding: 40px 20px;
		position: relative;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			padding: 10px;
			max-width: $mw_mbl;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_lbl {
		width: 300px;
		height: 40px;
		text-align: right;
		padding-right: 20px;
		vertical-align: top;
		font: 16px/42px $fms;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	&_input {
		border: none;
		vertical-align: top;
		display: inline-block;
		width: calc(100% - 345px);

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
		}
	}
	&_submit {
		color: $c1;
		width: 40px;
		height: 40px;
		padding-left: 1px;
		vertical-align: top;
		display: inline-block;
		transition: all .2s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			top: 10px;
			right: 10px;
			position: absolute;
		}

		&:after {
			color: currentColor;
			content: $ico_search;
			font: 24px/24px 'icons';
		}

		&:hover {
			color: $c2;
		}
	}
	/*#endregion [object][;]*/

}