.hguru {
	max-width: $mw;
	margin: 40px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px 10px;
		max-width: $mw_mbl;
	}

	&:after {
		height: 1px;
		content: '';
		display: block;
		background: $c5;
		max-width: $mw1220;
		margin: 50px auto 0px;
		border-left: 20px solid #fff;
		border-right: 20px solid #fff;

		@mixin max-width, $mobile-breakpoint {
			border: none;
			max-width: none;
			margin-top: 40px;
		}
	}

	/*#region [scheme][:]*/
	&_head {
		margin: 0px auto;
		max-width: $mw1220;
		padding: 0px 20px 15px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}
	}
	&_body {
		display: flex;
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw820;
		flex-flow: nowrap;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			display: block;
			max-width: none;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_img {
		margin-left: 20px;
		background-size: cover;
		width: calc(50% - 10px);
		background-repeat: no-repeat;

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
			display: block;
			margin: 14px 0px 0px;
		}

		&:after {
			content: '';
			display: block;
			padding-top: calc(100% / (380 / 260));
		}
	}
	&_info {
		display: flex;
		flex-flow: column;
		font: 20px/24px $fms;
		justify-content: center;
		width: calc(50% - 10px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			padding: 0px 20px;
		}

		p {
			margin: 0px;
		}
		a {
			border-width: 2px;
		}
	}
	&_name {
		font: 30px/36px $fms;
		margin: -6px 0px 17px;
	}
	/*#endregion [object][;]*/

}