.hmain {
	font-size: 0px;
	max-width: $mw2;
	line-height: 0px;
	margin: 0px auto;
	position: relative;

	@mixin max-width, $mobile-breakpoint {
		max-width: $mobile-breakpoint;
	}

	/*#region [scheme][:]*/
	&_body {
		position: relative;
		border-bottom: 2px solid #fff;
		width: calc(100% / (1280 / 848));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			min-height: 280px;
		}

		&:after {
			height: 0px;
			content: '';
			display: block;
			min-height: 280px;
			padding-bottom: calc(100% / (848 / 480));
		}
	}
	&_side {
		top: 0px;
		right: 0px;
		height: 100%;
		position: absolute;
		border-left: 2px solid #fff;
		width: calc(100% / (1280 / 432));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			border: none;
			position: relative;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_link {
		height: 25%;
		border: none;
		color: #fff;
		display: flex;
		flex-flow: column;
		font: 18px/22px $fms;
		padding: 17px 20px 14px;
		justify-content: center;
		background: $c3 no-repeat;
		border-bottom: 2px solid #fff;
		transition: all .4s ease-out-sine;
		background-size: cover;

		@mixin max-width, $mobile-breakpoint {
			height: auto;
		}

		&_txt {
			z-index: 2;
			width: 100%;
			display: block;
			margin: 0px auto;
			max-width: 330px;
			position: relative;

			&:before {
				top: -3px;
				left: -2px;
				width: 24px;
				height: 24px;
				display: block;
				position: absolute;
				font: 24px/24px 'icons';
			}

			&._date {
				padding-left: 28px;

				&:before {
					content: $ico_calendar;
				}
			}
			&._evnt {
				padding-left: 28px;

				&:before {
					content: $ico_event;
				}
			}
		}

		&._img {
			&:before {
				top: 0px;
				left: 0px;
				z-index: 1;
				content: '';
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: rgba(#000, .4);
				transition: all .4s ease-out-sine;
			}
		}
		&:hover {
			color: #fff;
			border-color: #fff;
			background-color: $c2;

			&:before {
				background: rgba(#000, .6);
			}
		}
	}
	&_item {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		border: none;
		color: #fff;
		display: flex;
		flex-flow: column;
		position: absolute;
		padding: 0px 20px 45px;
		background-size: cover;
		justify-content: flex-end;
		background-repeat: no-repeat;

		@mixin max-width, $mobile-breakpoint {
			top: auto;
			left: auto;
			padding: 0px 0px 25px;
		}

		&:before {
			top: 0px;
			left: 0px;
			z-index: 1;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background: rgba(#000, .4);
		}

		&_sep {
			margin: 0px 4px;
		}
		&_tag {
			color: #fff;
			font-family: $fms;
			position: relative;
			margin-bottom: -1px;

			&:before {
				top: 0px;
				color: $c1;
				right: 100%;
				display: block;
				content: '\2022';
				margin-right: 5px;
				position: absolute;
				font: 14px/12px $fms;
			}

			&:hover {
				color: #fff;
			}
		}
		&_name {
			color: #fff;
			border-width: 2px;
			font: 36px/42px $fms;

			@mixin max-width, $mobile-breakpoint {
				font: 18px/22px $fms;
			}

			&:hover {
				color: #fff;
			}
		}
		&_play {
			top: -2px;
			width: 30px;
			height: 30px;
			margin: -7px 0px -7px 27px;
		}
		&_data {
			z-index: 2;
			width: 100%;
			max-width: 708px;
			margin: 0px auto;
			position: relative;
			font: 16px/20px $fm;

			@mixin max-width, $mobile-breakpoint {
				padding: 0px 30px;
				max-width: $mw_mbl;
				font: 14px/18px $fm;
			}

			p {
				margin: 16px 0px 0px;

				@mixin max-width, $mobile-breakpoint {
					margin-top: 11px;
				}

				& + p {
					margin-top: 21px;

					@mixin max-width, $mobile-breakpoint {
						margin-top: 12px;
					}
				}
			}
		}
		&_text {
			@mixin max-width, $tablet-breakpoint {
				display: none;
			}
			@mixin max-width, $mobile-breakpoint {
				display: block;
			}
		}
		&_foot {
			margin-top: 23px;
			font: 13px/16px $fm;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 13px;
			}

			span {
				vertical-align: top;
				display: inline-block;
			}
		}
		&_btns {
			margin: 25px 0px 5px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 15px;
			}
		}

		&._tiny {
			height: 50%;
			position: relative;
			padding-bottom: 25px;
			border-bottom: 2px solid #fff;

			@mixin max-width, $mobile-breakpoint {
				height: 100%;
				border: none;
				position: absolute;
			}

			^&_name {
				font: 20px/24px $fms;

				@mixin max-width, $mobile-breakpoint {
					font: 18px/22px $fms;
				}
			}
			^&_data {
				max-width: 330px;
				font: 14px/18px $fm;

				@mixin max-width, $mobile-breakpoint {
					max-width: $mw_mbl;
				}

				p {
					margin-top: 11px;

					& + p {
						margin-top: 12px;
					}
				}
			}
			^&_foot {
				margin-top: 13px;
			}
		}
		&:hover {
			color: #fff;
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.flickity {
		&-page {
			&-dots {
				bottom: 14px;

				@mixin max-width, $mobile-breakpoint {
					bottom: 4px;
				}

				.dot {
					width: 20px;
					height: 20px;
					cursor: pointer;
					border-radius: 50%;
					vertical-align: top;
					display: inline-block;

					&:before {
						width: 8px;
						height: 8px;
						content: '';
						display: block;
						min-width: auto;
						margin: 6px auto;
						border-radius: 50%;
						border: 2px solid $c2;
						transition: all .2s ease-out-sine;
					}

					& + & {
						margin-left: 8px;
					}
					&.is-selected {
						&:before {
							background: $c2;
						}
					}
				}
			}
		}
	}
	/*#endregion [plugin][;]*/

}