.hpage {
	height: 0;
	width: 100%;
	color: #fff;
	display: table;
	max-width: $mw;
	margin: 0px auto;
	min-height: 120px;
	text-align: center;
	position: relative;
	background: $c4 no-repeat;
	background-size: cover;

	@mixin max-width, $mobile-breakpoint {
		min-height: 80px;
	}

	a {
		color: #fff;

		&:hover {
			color: #fff;
		}
	}

	&_box {
		width: 100%;
		display: table-cell;
		vertical-align: bottom;
		padding: 17px 30px 14px;
	}
	&_title {
		margin: 0px;
		border-width: 2px;
		font: 20px/24px $fms;

		@mixin max-width, $mobile-breakpoint {
			font: 18px/22px $fms;
		}
	}
}