.hpart {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	min-height: 360px;
	margin: 40px auto 30px;
	background: 0% no-repeat;
	background-size: cover;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
		}
	}
	&_data {
		height: 360px;
		background: $c7;
		flex-flow: column;
		vertical-align: top;
		display: inline-flex;
		padding: 16px 20px 14px;
		justify-content: center;
		width: calc(33.3334% - (20px - 20px * 1/3));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			height: auto;
			display: block;
			padding: 26px 20px 24px;
		}
	}
	&_foot {
		width: 100%;
		padding-top: 30px;
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_txt {
		color: #000;
		margin: 0px auto;
		max-width: 300px;
		font: 20px/24px $fms;
		word-wrap: break-word;

		p {
			margin: calc($p_idt - 4px) 0px calc($p_idt - 6px);

			&:last-child {
				margin-bottom: 0px;
			}
			&:first-child {
				margin-top: 0px;
			}
		}
	}
	&_img {
		height: 360px;
		vertical-align: top;
		display: inline-block;
		background: 0% no-repeat;
		border-left: 2px solid #fff;
		width: calc(66.6667% + (20px - 20px * 1/3));
		background-size: cover;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			border: none;
			height: 320px;
			display: block;
		}

		&:first-child {
			width: 100%;
		}
	}
	&_links {
		margin-top: 30px;
	}
	/*#endregion [object][;]*/

	&._unit {
		margin: 0px;
		padding: 0px;
		max-width: none;
		position: relative;

		^&_img {
			@mixin min-width, $mobile-breakpoint {
				top: 0px;
				width: 798px;
				position: absolute;
				left: calc(50% - (20px - 20px * 1/2));
			}

			&:first-child {
				@mixin min-width, $mobile-breakpoint {
					left: auto;
					width: 100%;
					position: relative;
				}
			}
		}
		^&_data {
			@mixin min-width, $mobile-breakpoint {
				width: calc(50% - (20px - 20px * 1/2));
			}
		}
	}
}