.mabout {
	@mixin max-width, $mobile-breakpoint {
		margin: 24px 0px 27px;
	}
	@mixin min-width, $mobile-breakpoint {
		border: none;
		cursor: default;
		background: none;
		padding: 0px 0px 1px 20px;
	}

	&:after {
		@mixin min-width, $mobile-breakpoint {
			content: normal;
		}
	}

	.sod {
		&_list {
			@mixin min-width, $mobile-breakpoint {
				overflow: hidden;
				padding-left: 1px;
			}

			&_wrapper {
				@mixin min-width, $mobile-breakpoint {
					top: auto;
					left: auto;
					width: auto;
					border: none;
					display: block;
					background: none;
					position: relative;
				}
			}
		}
		&_label {
			background: $c6;
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				display: none;
			}
		}
		&_option {
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				color: #fff;
				height: auto;
				padding: 0px;
				background: none;
				overflow: visible;
				vertical-align: top;
				font: 14px/16px $fms;
				display: inline-block;
				margin: 10px 29px 0px 10px;
				transition: all .2s ease-out-sine;
				border-bottom: 1px solid transparent;
			}

			&:before {
				@mixin min-width, $mobile-breakpoint {
					top: -1px;
					right: 100%;
					display: block;
					content: '\2022';
					margin-right: 6px;
					position: absolute;
					font: 14px/14px $fms;
				}
			}

			&:hover,
			&.selected {
				@mixin min-width, $mobile-breakpoint {
					color: #fff;
					border-color: #fff;
				}
			}
			&.selected {
				@mixin min-width, $mobile-breakpoint {
					cursor: default;
				}
			}
		}
	}
}