.mcity {
	font-size: 0px;
	line-height: 0px;
	padding-top: 10px;
	text-align: center;
	border-bottom: 1px solid $c5;

	&_link {
		color: $c2;
		height: 40px;
		border: none;
		cursor: pointer;
		padding: 0px 10px;
		position: relative;
		font: 14px/40px $fm;
		vertical-align: top;
		display: inline-block;

		&:after {
			opacity: 0;
			height: 2px;
			content: '';
			display: block;
			background: $c2;
			margin-top: -1px;
			transition: all .2s ease-out-sine;
		}

		&:hover,
		&._active {
			color: #000;

			&:after {
				opacity: 1;
			}
		}
	}
}