.mcourse {
	font-size: 0px;
	line-height: 0px;
	user-select: none;
	position: relative;
	margin: 34px 10px 0px;
	padding: 0px 20px 0px 60px;

	@mixin max-width, $mobile-breakpoint {
		margin: 24px 0px 0px;
		padding: 0px 0px 0px 40px;
	}

	&:before {
		top: 7px;
		left: 20px;
		color: $c4;
		display: block;
		cursor: default;
		position: absolute;
		content: $ico_filter;
		pointer-events: none;
		font: 24px/24px 'icons';

		@mixin max-width, $mobile-breakpoint {
			left: 0px;
		}
	}

	&_show {
		padding: 0px 59px;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	&_link {
		color: $c2;
		height: 40px;
		cursor: pointer;
		padding: 0px 20px;
		white-space: nowrap;
		vertical-align: top;
		font: 13px/40px $fms;
		display: inline-block;
		border-top: 1px solid $c5;
		border-left: 1px solid $c5;
		border-bottom: 1px solid $c5;
		transition: background .4s ease-out-sine;

		&:hover {
			color: #000;
			background: $c6;
			border-color: $c5;
		}
		&._active {
			color: #000;
			background: $c5;
		}
		&:last-child {
			border-right: 1px solid $c5;
		}
	}
	&_select {
		display: none;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}
	}

	.flickity {
		&-button {
			top: 0px;
			color: $c1;
			width: 60px;
			height: 40px;
			border: 1px solid $c5;
			background: rgba(#fff, .85);

			&:after {
				vertical-align: top;
				display: inline-block;
				font: 24px/42px 'icons';
			}

			&-icon {
				display: none;
			}

			&.next {
				right: 0px;
				border-left: 1px solid $c5;

				&:after {
					content: $ico_arw_r1;
				}
			}
			&.previous {
				left: 0px;
				border-right: 1px solid $c5;

				&:after {
					content: $ico_arw_l1;
				}
			}
			&[disabled] {
				color: $c5;
			}
		}
	}
}