.mcrumbs {
	top: 18px;
	left: 0px;
	z-index: 1;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
	text-align: center;
	position: absolute;

	@mixin max-width, $mobile-breakpoint {
		display: none;
	}

	&_sep {
		top: -2px;
		content: '';
		width: 18px;
		height: 18px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		background: url('/assets/img/design/obj/chevron_right_c3.svg') 50% no-repeat;
		background-size: contain;
	}
	&_link {
		color: #fff;
		max-width: 180px;
		overflow: hidden;
		font: 12px/14px $fm;
		white-space: nowrap;
		vertical-align: top;
		display: inline-block;
		text-overflow: ellipsis;

		&:hover {
			color: #fff;
		}
	}
}