.mfind {
	@mixin min-width, $mobile-breakpoint {
		border: none;
	}

	&:after {
		@mixin min-width, $mobile-breakpoint {
			content: normal;
		}
	}

	.sod {
		&_list {
			&_wrapper {
				@mixin min-width, $mobile-breakpoint {
					top: auto;
					left: auto;
					width: auto;
					border: none;
					display: block;
					position: relative;
				}
			}
		}
		&_label {
			background: $c6;
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				display: none;
			}
		}
		&_option {
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				color: $c1;
				height: auto;
				font: 14px/18px $fms;
				padding: 10px 20px 8px;
				transition: all .4s ease-out-sine;
			}

			&:hover,
			&.selected {
				@mixin min-width, $mobile-breakpoint {
					color: #000;
					background: $c5;
				}
			}
			&.selected {
				@mixin min-width, $mobile-breakpoint {
					display: block;
					cursor: default;
				}
			}
		}
	}
}