.mfoot {
	width: $800;
	display: inline-table;
	border-right: 1px solid $c5;

	@mixin max-width, $mobile-breakpoint {
		display: none;
	}

	ul {
		margin: 0px;
		padding: 0px;

		& + ul {
			margin-top: 19px;
		}
	}
	li {
		margin: 0px;
		position: relative;
		padding: 0px 0px 0px 10px;

		&:before {
			top: 0px;
			left: 0px;
			color: $c1;
			margin: 0px;
			display: block;
			position: absolute;
			font: 14px/10px $fms;
		}

		& + li {
			margin-top: 9px;
		}
	}

	&_cell {
		width: 25%;
		padding: 0px 20px;
		display: table-cell;
		border-left: 1px solid $c5;
	}
	&_link {
		color: #000;
		position: relative;
		font: 13px/14px $fms;

		&._main {
			font-family: $fmb;
			text-transform: uppercase;
		}
		&:hover,
		&._active {
			color: $c1;
		}
	}
}