.mlang {
	color: $c1;
	z-index: 10;
	float: right;
	cursor: pointer;
	text-align: left;
	margin-left: 28px;/*20px*/
	position: relative;
	padding-right: 36px;

	@mixin max-width, $mobile-breakpoint {
		float: none;
		margin: 0px;
		padding: 10px 20px 9px 16px;
		border-bottom: 1px solid $c5;
	}

	&:before {
		top: 0px;
		right: 0px;
		z-index: 1;
		width: 30px;
		height: 30px;
		display: block;
		content: $ico_lang;
		position: absolute;
		text-align: center;
		color: currentColor;
		font: 24px/30px 'icons';
		transition: color .2s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			margin-right: 6px;
			position: relative;
			vertical-align: top;
			display: inline-block;
		}
	}

	&_list {
		top: 0px;
		right: 0px;
		opacity: 0;
		background: #fff;
		border-radius: 3px;
		position: absolute;
		visibility: hidden;
		white-space: nowrap;
		padding-right: 28px;
		border: 1px solid $c5;
		transform: scale(.95);
		transform-origin: 100% 50%;
		transition: all .2s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			opacity: 1;
			padding: 0px;
			border: none;
			transform: none;
			position: relative;
			visibility: visible;
			vertical-align: top;
			display: inline-block;
		}
	}
	&_link {
		color: $c2;
		height: 28px;
		border: none;
		padding: 0px 10px;
		font: 12px/30px $fm;
		vertical-align: top;
		display: inline-block;
		border-right: 1px solid $c5;
		transition: all .2s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			border: none;
			padding: 0px 5px;
		}

		&:hover {
			color: #000;
			background: $c6;
			border-color: $c5;
		}
	}
	&_value {
		color: #000;
		font: 12px/30px $fm;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			margin-right: 5px;
		}
	}

	&:hover {
		color: $c2;

		^&_list {
			opacity: 1;
			transform: none;
			visibility: visible;
		}
	}
}