.mmain {
	top: -20px;
	z-index: 10;
	font-size: 0px;
	line-height: 0px;
	margin-top: -30px;
	user-select: none;
	position: relative;
	text-align: center;

	@mixin max-width, $mobile-breakpoint {
		top: 60px;
		left: 0px;
		width: 100%;
		margin: 0px;
		bottom: 100%;
		overflow: hidden;
		position: fixed;
		background: #fff;
		transition: bottom .4s ease-out-sine;
	}

	&:before {
		z-index: 15;
		content: '';
		width: 100%;
		bottom: -20px;
		height: 500px;
		display: block;
		background: #fff;
		position: absolute;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}

	/*#region [scheme][:]*/
	&_ul {
		margin: 0px;
		height: 100%;
		text-align: left;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			overflow-y: scroll;
			overflow-scrolling: touch;
			-webkit-overflow-scrolling: touch;
		}
	}
	&_li {
		margin: 0px;
		vertical-align: top;
		display: inline-block;
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&:after {
			top: 100%;
			left: 0px;
			opacity: 0;
			width: 100%;
			z-index: 30;
			content: '';
			height: 20px;
			position: absolute;
			visibility: hidden;
			border-bottom: 2px solid $c1;
			transition: all .2s ease-in-sine;

			@mixin max-width, $mobile-breakpoint {
				content: normal;
			}
		}
		&:before {
			content: normal;
		}

		&:hover {
			background: $c6;

			@mixin max-width, $mobile-breakpoint {
				background: #fff;
			}

			&:after {
				opacity: 1;
				visibility: visible;
			}

			^^&_sub {
				&_wrap {
					opacity: 1;
					transition-delay: .4s;

					@mixin max-width, $mobile-breakpoint {
						transition-delay: 0s;
					}
				}
			}
			& > ^^&_lnk {
				background: $c6;

				@mixin max-width, $mobile-breakpoint {
					background: #fff;
				}
			}
			& > ^^&_sub {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
				transform: translateY(100%);

				@mixin max-width, $mobile-breakpoint {
					transform: none;
				}
			}
		}
	}
	&_sub {
		left: 0px;
		opacity: 0;
		z-index: 10;
		width: 100%;
		bottom: 0px;
		overflow: hidden;
		background: #fff;
		visibility: hidden;
		position: absolute;
		pointer-events: none;
		padding: 60px 0px 40px;
		transform: translateZ(0);
		backface-visibility: hidden;
		transition: all .4s ease-out-sine;
		box-shadow: 0px 10px 20px rgba(#000, .2);

		@mixin max-width, $mobile-breakpoint {
			top: 0px;
			left: 100%;
			opacity: 1;
			z-index: 35;
			height: 100%;
			bottom: auto;
			padding: 0px;
			box-shadow: none;
			visibility: visible;
		}

		&_box {
			max-width: $mw;
			margin: 0px auto;
		}
		&_wrap {
			opacity: 0;
			display: flex;
			flex-flow: wrap;
			margin: 0px auto;
			padding: 0px 20px;
			min-height: 280px;
			max-width: $mw1220;
			transition: all .4s ease-in-sine;

			@mixin max-width, $mobile-breakpoint {
				opacity: 1;
				display: block;
				max-width: none;
				min-height: auto;
				transition: none;
				padding: 50px 0px 0px;
			}
		}
		&_side {
			width: $380;
			padding: 0px 20px;
			position: relative;
			vertical-align: top;
			display: inline-block;

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}
		}

		&._show {
			@mixin max-width, $mobile-breakpoint {
				left: 0px;
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}
	&_foot {
		margin: 0px;
		display: none;
		padding: 30px 20px 15px;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&:before {
			content: normal;
		}
	}
	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			height: 100%;
			padding: 0px;
			overflow: hidden;
			position: relative;
			max-width: $mw_mbl;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_lnk {
		color: $c1;
		z-index: 30;
		border: none;
		cursor: pointer;
		position: relative;
		vertical-align: top;
		font: 14px/18px $fms;
		display: inline-block;
		padding: 7px 15px 5px;
		text-transform: uppercase;
		transition: color .4s ease-out-sine,
					background .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			font: 16px/20px $fms;
			padding: 15px 48px 14px 29px;
			border-bottom: 1px solid $c5;
		}

		&:before {
			content: '\2022';
			margin-right: 8px;
			vertical-align: top;
			font: 14px/14px $fms;
			display: inline-block;

			@mixin max-width, $mobile-breakpoint {
				font: 16px/18px $fms;
			}
		}

		&._sub {
			&:after {
				@mixin max-width, $mobile-breakpoint {
					top: 50%;
					right: 12px;
					height: 24px;
					display: block;
					margin-top: -12px;
					position: absolute;
					content: $ico_arw_r1;
					font: 24px/24px 'icons';
				}
			}
		}
		&:hover {
			@mixin max-width, $mobile-breakpoint {
				color: $c1;
				border-color: $c5;
				background: #fff;
			}
		}
		&:hover,
		&._active {
			color: $c2;
			background: $c6;
		}
	}
	&_back {
		top: 0px;
		left: 100%;
		width: 100%;
		z-index: 40;
		border: none;
		color: #000;
		display: none;
		transform: none;
		text-align: left;
		background: #fff;
		position: relative;
		max-width: $mw_mbl;
		font: 12px/16px $fm;
		margin: 0px auto -50px;
		padding: 17px 20px 14px;
		border-bottom: 1px solid $c5;
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&:before {
			color: $c1;
			margin-right: -2px;
			vertical-align: top;
			content: $ico_arw_l1;
			display: inline-block;
			font: 24px/18px 'icons';
		}

		&._show {
			left: 0px;
		}
	}
	&_subs {
		margin-top: 20px;
	}
	&_phone {
		padding: 0px;
		margin: 26px 0px 0px;

		a {
			color: $c2;
			border: none;
			font: 16px/20px $fms;
		}
		li {
			margin-top: 11px;

			&:before {
				content: normal;
			}
			&:first-child {
				margin: 0px;
			}
		}
	}
	&_switch {
		top: 15px;
		color: $c1;
		z-index: 15;
		right: 14px;
		width: 30px;
		height: 30px;
		padding: 6px;
		display: none;
		position: absolute;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&_line {
			margin: 3px 0px;
		}
		&_line,
		&:after,
		&:before {
			width: 18px;
			height: 2px;
			content: '';
			display: block;
			background: currentColor;
			transition: all .2s ease-out-sine;
		}

		&._active {
			color: $c2;

			^&_line {
				transform: scale(0);
			}
			&:after {
				transform: translateY(-5px) rotate(-45deg);
			}
			&:before {
				transform: translateY(5px) rotate(45deg);
			}
		}
	}
	/*#endregion [object][;]*/

	&._show {
		@mixin max-width, $mobile-breakpoint {
			bottom: 0px;
		}
	}
}