.mnets {
	font-size: 0px;
	line-height: 0px;
	margin: 0px auto;

	&_lbl {
		height: 30px;
		color: #000;
		margin-right: 10px;
		font: 13px/32px $fm;
		vertical-align: top;
		display: inline-block;
	}
	&_link {
		width: 30px;
		height: 30px;
		border: none;
		color: #fff;
		background: $c3;
		border-radius: 50%;
		text-align: center;
		vertical-align: top;
		display: inline-block;
		transition: background .2s ease-out-sine;

		&:after {
			vertical-align: top;
			display: inline-block;
			font: 15px/30px 'icons';
		}

		& + & {
			margin-left: 6px;
		}
		&._fb {
			&:after {
				content: $ico_fb;
			}

			&:hover {
				background: $fb;
			}
		}
		&._tg {
			&:after {
				content: $ico_tg;
			}

			&:hover {
				background: $tg;
			}
		}
		&._yt {
			&:after {
				content: $ico_yt;
			}

			&:hover {
				background: $yt;
			}
		}
		&._tw {
			&:after {
				content: $ico_tw;
			}

			&:hover {
				background: $tw;
			}
		}
		&._in {
			&:after {
				content: $ico_in;
			}

			&:hover {
				background: $in;
			}
		}
		&._vk {
			&:after {
				content: $ico_vk;
			}

			&:hover {
				background: $vk;
			}
		}
		&._ig {
			&:after {
				content: $ico_ig;
			}

			&:hover {
				background: $ig;
			}
		}
		&._mail {
			&:after {
				content: $ico_ml;
			}
		}
		&._link {
			&:after {
				content: $ico_link;
			}
		}
		&._done {
			background: $cvalid;
		}
		&:hover {
			color: #fff;
			background: $c2;
		}
	}
	&_title {
		font: 18px/22px $fms;
		margin: -3px 0px 14px;

		&:before {
			width: 4px;
			height: 4px;
			content: '';
			background: #000;
			border-radius: 50%;
			vertical-align: top;
			display: inline-block;
			margin: 8px 8px 0px 0px;
		}
	}
}