.mnews {
	margin-left: 40px;

	@mixin min-width, $mobile-breakpoint {
		border: none;
		cursor: default;
	}

	&:after {
		@mixin min-width, $mobile-breakpoint {
			content: normal;
		}
	}
	&:before {
		top: 7px;
		color: $c4;
		right: 100%;
		display: block;
		cursor: default;
		position: absolute;
		margin-right: 14px;
		content: $ico_filter;
		pointer-events: none;
		font: 24px/24px 'icons';
	}

	.sod {
		&_list {
			@mixin min-width, $mobile-breakpoint {
				overflow: hidden;
				padding-left: 1px;
			}

			&_wrapper {
				@mixin min-width, $mobile-breakpoint {
					top: auto;
					left: auto;
					width: auto;
					border: none;
					display: block;
					position: relative;
				}
			}
		}
		&_label {
			background: $c6;
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				display: none;
			}
		}
		&_option {
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				color: $c2;
				margin-left: -1px;
				vertical-align: top;
				font: 13px/42px $fms;
				display: inline-block;
				border: 1px solid $c5;
				transition: all .4s ease-out-sine;
			}

			&:hover,
			&.selected {
				@mixin min-width, $mobile-breakpoint {
					color: #000;
					background: $c6;
				}
			}
			&.selected {
				@mixin min-width, $mobile-breakpoint {
					cursor: default;
				}
			}
		}
	}
}