.mpage {
	height: 40px;
	font-size: 0px;
	line-height: 0px;
	margin-top: 10px;
	text-align: center;

	@mixin max-width, $mobile-breakpoint {
		margin: 0px;
	}

	&_box {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 40px;
		z-index: 100;
		border-bottom: 1px solid $c5;
		background: rgba(#fff, .85);

		@mixin max-width, $mobile-breakpoint {
			top: -1px;
			padding-left: 40px;
			border-top: 1px solid $c5;
		}

		&._fix {
			top: 0px;
			position: fixed;
			border-top: none;

			@mixin max-width, $mobile-breakpoint {
				top: 0px;
			}
		}
	}
	&_link {
		color: $c2;
		height: 40px;
		border: none;
		padding: 0px 10px;
		font: 14px/40px $fm;
		white-space: nowrap;
		vertical-align: top;
		display: inline-block;

		&:after {
			height: 2px;
			content: '';
			display: block;
			margin: -2px auto 0px;
			transition: all .2s ease-out-sine;
		}

		&:hover {
			color: #000;

			&:after {
				background: #000;
			}
		}
		&._active {
			color: #000;

			&:after {
				background: $c2;
			}
		}
	}
	.flickity {
		&-button {
			color: $c1;
			width: 40px;
			bottom: 0px;
			height: 38px;
			position: absolute;
			background: rgba(#fff, .85);

			&:after {
				vertical-align: top;
				display: inline-block;
				font: 24px/40px 'icons';
			}

			&-icon {
				display: none;
			}

			&.next {
				right: 0px;
				border-left: 1px solid $c5;

				&:after {
					content: $ico_arw_r1;
				}
			}
			&.previous {
				left: 0px;
				border-right: 1px solid $c5;

				&:after {
					content: $ico_arw_l1;
				}
			}
			&:disabled {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}