.mpages {
	font-size: 0px;
	line-height: 0px;
	user-select: none;
	text-align: center;
	margin: 60px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px -10px 0px;
	}

	&_link {
		color: $c2;
		width: 50px;
		height: 40px;
		margin-left: -1px;
		position: relative;
		vertical-align: top;
		font: 13px/42px $fms;
		display: inline-block;
		border: 1px solid $c5;
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			width: 40px;
		}

		&:hover {
			color: #000;
			background: $c6;
			border-color: $c5;
		}
		&._active {
			color: #000;
			background: $c5;
		}
	}
	&_arrow {
		z-index: 1;
		color: $c5;
		width: 60px;
		height: 40px;
		position: relative;
		vertical-align: top;
		display: inline-block;
		border: 1px solid $c5;
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			width: 53px;
		}

		&:after {
			height: 40px;
			display: block;
			color: currentColor;
			font: 24px/40px 'icons';
		}

		&._prev {
			&:after {
				content: $ico_arw_l1;
			}
		}
		&._next {
			margin-left: -1px;

			&:after {
				content: $ico_arw_r1;
			}
		}
		&[href] {
			color: $c1;

			&:hover {
				background: $c6;
				border-color: $c5;
			}
		}
	}
}