.mpart {
	padding: 0px 20px;
	font: 14px/18px $fm;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px;
	}

	li {
		&:before {
			content: normal;
		}
	}

	&_li1 {
		&._prnt {
			@mixin max-width, $mobile-breakpoint {
				display: none;
			}
		}
	}
	&_lnk1 {
		font-family: $fms;

		&:hover {
			color: #000;
		}
		&._active {
			color: $c4;
		}
	}

	&_ul2 {
		margin-top: 25px;

		&:first-child {
			margin-top: 0px;
		}
	}
	&_li2 {
		padding-left: 14px;
	}
	&_lnk2 {
		color: $c2;
		font: 14px/18px $fm;

		&:before {
			top: 0px;
			z-index: 1;
			right: 100%;
			color: #000;
			content: '\2022';
			margin-right: 8px;
			position: absolute;
			vertical-align: top;
			font: 14px/16px $fms;
			display: inline-block;
		}

		&._active {
			color: $c4;

			&:before {
				color: $c4;
			}
		}
	}

	&_subs {
		margin-top: 36px;
	}
	&_list {
		@mixin max-width, $mobile-breakpoint {
			margin-top: 5px;
		}
		@mixin min-width, $mobile-breakpoint {
			cursor: auto;
			border: none;
			margin-top: 10px;
		}

		.sod {
			&_list {
				@mixin min-width, $mobile-breakpoint {
					overflow: hidden;
					max-height: none;
				}

				&_wrapper {
					@mixin min-width, $mobile-breakpoint {
						top: auto;
						left: auto;
						width: auto;
						border: none;
						display: block;
						position: relative;
					}
				}
			}
			&_label {
				background: $c6;
				padding: 0px 20px;
				font-family: $fms;

				@mixin min-width, $mobile-breakpoint {
					display: none;
				}
			}
			&_option {
				@mixin min-width, $mobile-breakpoint {
					color: $c2;
					clear: both;
					float: left;
					height: auto;
					padding: 0px;
					margin-top: 12px;
					position: relative;
					white-space: normal;
					font: 14px/18px $fm;
				}

				&:before {
					@mixin min-width, $mobile-breakpoint {
						z-index: 1;
						color: #000;
						content: '\2022';
						margin-right: 8px;
						position: relative;
						vertical-align: top;
						font: 14px/14px $fms;
						display: inline-block;
					}
				}

				&_txt {
					@mixin min-width, $mobile-breakpoint {
						transition: all .2s ease-out-sine;
						border-bottom: 1px solid transparent;
					}
				}

				&:hover {
					color: #000;

					@mixin min-width, $mobile-breakpoint {
						background: none;
					}

					.sod {
						&_option {
							&_txt {
								border-color: currentColor;
							}
						}
					}
				}
				&.selected {
					@mixin min-width, $mobile-breakpoint {
						color: $c4;
						display: block;
						/*cursor: default;*/
					}

					&:before {
						@mixin min-width, $mobile-breakpoint {
							color: $c4;
						}
					}

					/*.sod {
						&_option {
							&_txt {
								border-color: transparent;
							}
						}
					}*/
				}
			}
		}
	}
}