.mplan {
	@mixin max-width, $mobile-breakpoint {
		margin: 20px 10px;
	}
	@mixin min-width, $mobile-breakpoint {
		border: none;
		padding-right: 2px;
		vertical-align: top;
		display: inline-block;
		width: calc(100% - $880);
	}

	&:after {
		@mixin min-width, $mobile-breakpoint {
			content: normal;
		}
	}

	.sod {
		&_list {
			@mixin min-width, $mobile-breakpoint {
				max-height: none;
			}

			&_wrapper {
				@mixin min-width, $mobile-breakpoint {
					top: auto;
					left: auto;
					width: auto;
					border: none;
					display: block;
					position: relative;
				}
			}
		}
		&_label {
			background: $c6;
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				display: none;
			}
		}
		&_option {
			padding: 0px 20px;
			font-family: $fms;

			@mixin min-width, $mobile-breakpoint {
				color: $c1;
				height: auto;
				white-space: normal;
				font: 14px/18px $fms;
				padding: 10px 20px 8px;
				transition: all .4s ease-out-sine;
			}

			&:hover,
			&.selected {
				color: #000;

				@mixin min-width, $mobile-breakpoint {
					color: #000;
					background: $c6;
				}
			}
			&.selected {
				color: #000;
				background: $c6;

				@mixin min-width, $mobile-breakpoint {
					display: block;
					cursor: default;
				}
			}
		}
	}
}