.mpost {
	text-align: right;
	margin-bottom: 20px;

	&_menu {
		width: 100px;
		vertical-align: top;
		display: inline-block;

		&:before {
			top: 7px;
			right: 100%;
			color: $c4;
			display: block;
			position: absolute;
			margin-right: 15px;
			content: $ico_filter;
			pointer-events: none;
			font: 24px/24px 'icons';
			transition: all .2s ease-out-sine;
		}
	}
}