.msub {
	width: $420;
	min-height: 100%;
	position: relative;

	@mixin max-width, $mobile-breakpoint {
		top: 50px;
		left: 0px;
		width: 100%;
		bottom: 0px;
		min-height: auto;
		position: absolute;
	}

	ul {
		@mixin max-width, $mobile-breakpoint {
			overflow-y: scroll;
			overflow-scrolling: touch;
			-webkit-overflow-scrolling: touch;
		}
	}
	li {
		&:hover {
			& > ul {
				opacity: 1;
				transform: none;
				visibility: visible;
			}
		}
	}

	/*#region [scheme][:]*/
	&_ul1 {
		margin: 0px;
		height: 100%;
		padding: 0px 20px;
		background: #fff;
		border-left: 1px solid $c5;
		border-right: 1px solid $c5;

		@mixin max-width, $mobile-breakpoint {
			border: none;
			padding: 0px;
			display: block;
		}

		&._media {
			column-count: 2;
			column-gap: 41px;
			border-right: none;

			@mixin max-width, $mobile-breakpoint {
				column-gap: normal;
				column-count: auto;
			}

			&:after {
				top: 0px;
				left: 50%;
				width: 1px;
				content: '';
				height: 100%;
				background: $c5;
				position: absolute;

				@mixin max-width, $mobile-breakpoint {
					content: normal;
				}
			}

			li {
				& + li {
					margin-top: 10px;

					@mixin max-width, $mobile-breakpoint {
						margin: 0px;
					}
				}

				&:nth-child(2) {
					margin-top: 0px;
				}
			}
		}
	}
	&_ul2 {
		top: 0px;
		left: 100%;
		opacity: 0;
		bottom: 0px;
		margin: 0px;
		padding: 0px 20px;
		background: #fff;
		position: absolute;
		visibility: hidden;
		width: calc(100% - 20px);
		transform: translateY(-10px);
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			opacity: 1;
			width: 100%;
			z-index: 32;
			margin: 0px;
			padding: 0px;
			transform: none;
			visibility: visible;
		}

		&:before {
			top: 0px;
			right: 100%;
			content: '';
			width: 22px;
			height: 100%;
			display: block;
			position: absolute;

			@mixin max-width, $mobile-breakpoint {
				content: normal;
			}
		}

		&._show {
			@mixin max-width, $mobile-breakpoint {
				left: 0px;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&_li1 {
		width: 100%;
		margin: 0px;
		display: block;
		transition: all .4s ease-out-sine;

		&:before {
			content: normal;
		}

		& + li {
			margin-top: 2px;

			@mixin max-width, $mobile-breakpoint {
				margin: 0px;
			}
		}
		&:hover {
			background: $c6;
		}
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&_li2 {
		position: relative;
		padding-left: 14px;
		margin: 12px 0px 0px;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px;
			padding: 0px;
		}

		&:before {
			top: 0px;
			left: 0px;
			display: block;
			position: absolute;
			font: 16px/12px $fms;

			@mixin max-width, $mobile-breakpoint {
				content: normal;
			}
		}
	}
	&_head {
		margin: 0px;
		display: none;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&:before {
			content: normal;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_lnk1 {
		color: $c2;
		border: none;
		min-width: 100%;
		position: relative;
		vertical-align: top;
		font: 18px/22px $fms;
		display: inline-block;
		padding: 8px 20px 5px 33px;
		transform: perspective(1px);
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			font: 16px/20px $fms;
			padding: 15px 20px 14px 42px;
			border-bottom: 1px solid $c5;
		}

		&:before {
			top: 8px;
			left: 20px;
			display: block;
			content: '\2022';
			position: absolute;
			font: 16px/18px $fms;

			@mixin max-width, $mobile-breakpoint {
				top: 15px;
				left: 29px;
			}
		}

		.txt {
			vertical-align: top;
			display: inline-block;
		}
		.inf {
			color: #000;
			display: block;
			font: 12px/16px $fm;
			margin: 6px 0px 0px -13px;

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}

			&:empty {
				display: none;
			}
		}

		&._sub {
			padding-right: 48px;

			&:after {
				top: 50%;
				right: 12px;
				height: 24px;
				display: block;
				margin-top: -12px;
				position: absolute;
				content: $ico_arw_r1;
				font: 24px/24px 'icons';
			}
		}
		&:hover {
			@mixin max-width, $mobile-breakpoint {
				color: $c2;
				background: #fff;
			}
		}
		&:hover,
		&._active {
			color: $c1;
			background: $c6;
			border-color: $c5;
		}
	}
	&_lnk2 {
		color: $c2;
		position: relative;
		font: 14px/16px $fm;
		transition: all .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			padding: 17px 20px 14px 29px;
			border-bottom: 1px solid $c5;
		}

		&:before {
			@mixin max-width, $mobile-breakpoint {
				content: '\2022';
				margin-right: 8px;
				vertical-align: top;
				font: 16px/14px $fms;
				display: inline-block;
			}
		}

		&:hover {
			@mixin max-width, $mobile-breakpoint {
				color: $c2;
				border-color: $c5;
				background: #fff;
			}
		}
		&._active {
			@mixin max-width, $mobile-breakpoint {
				color: $c1;
				background: $c6;
			}
		}
	}
	&_prnt {
		color: $c2;
		display: none;
		background: $c6;
		font: 16px/20px $fms;
		text-transform: uppercase;
		transform: perspective(1px);
		padding: 15px 20px 14px 29px;
		border-bottom: 1px solid $c5;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		&:before {
			content: '\2022';
			margin-right: 8px;
			vertical-align: top;
			font: 16px/18px $fms;
			display: inline-block;
		}

		&:hover {
			border-color: $c5;
		}
	}
	/*#endregion [object][;]*/

	&._x2 {
		width: $800;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
		}
	}
}