.mtags {
	font-size: 0px;
	line-height: 0px;
	margin: -5px 0px 0px -5px;

	&_link {
		color: $c2;
		height: 40px;
		max-width: 100%;
		overflow: hidden;
		padding: 0px 18px;
		white-space: nowrap;
		font: 14px/42px $fm;
		vertical-align: top;
		display: inline-block;
		border: 1px solid $c5;
		margin: 5px 0px 0px 5px;
		text-overflow: ellipsis;
		transition: all .4s ease-out-sine;

		&:hover {
			color: #000;
			background: $c6;
			border-color: $c5;
		}
		&._active {
			color: #000;
			background: $c5;
			border-color: $c5;
		}
	}
}