.dcourse {
	max-width: $mw;
	font: 14px/18px $fm;
	margin: 40px auto 30px;

	@mixin max-width, $mobile-breakpoint {
		max-width: $mw_mbl;
	}

	&:after {
		width: 100%;
		content: '';
		display: table;
	}

	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw820;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 30px;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_info {
		float: left;
		margin-right: 20px;
		padding-right: 20px;
		width: calc(50% - 10px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			float: none;
			padding: 0px;
		}

		p {
			margin: 0px 0px 0px;
		}
		h6 {
			font-family: $fm;
			margin: 33px 0px 9px;

			&:first-child {
				margin-top: 0px;
			}
		}
	}
	&_card {
		float: right;
		border: 1px solid $c5;
		padding: 0px 20px 20px;
		width: calc(50% - 10px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			float: none;
			margin: 15px -20px 0px;
		}

		p {
			margin: 12px 0px 0px;
		}
		h6 {
			margin: 0px;
			font-family: $fm;
		}

		&_head {
			background: $c7;
			margin: 0px -20px 17px;
			padding: 18px 20px 15px;
			border-bottom: 1px solid $c5;
		}
		&_date {
			display: block;
			margin: 8px 0px 7px;
			font: 20px/24px $fms;
		}
		&_time {
			display: block;
			font: 14px/18px $fm;
		}
		&_cost {
			display: block;
			margin: 8px 0px 15px;
			font: 20px/24px $fms;
		}
		&_link {
			margin-top: 35px;
			padding-left: 43px;

			&:before {
				left: 12px;
				content: $ico_done;
			}
		}
	}
	&_title {
		/*font: 30px/36px $fms;
		margin: -6px 0px 31px;

		@mixin max-width, $mobile-breakpoint {
			font: 24px/24px $fms;
			margin: -4px 0px 32px;
		}*/
	}
	&_subtitle {
		/*@mixin max-width, $mobile-breakpoint {
			font: 14px/16px $fms;
			margin: -22px 0px 26px;
		}*/
	}

	&._unit {
		margin: 0px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 20px;
		}
	}
}