.dpost {
	max-width: 820px;
	padding: 0px 20px;
	font: 14px/18px $fm;
	font: 16px/20px $fm;
	margin: 39px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px 30px;
		max-width: $mw_mbl;
	}

	p {
		margin: 0px;
		margin: 4px 0px 5px;

		& + p {
			margin-top: 21px;
		}
	}

	/*#region [scheme][:]*/
	&_head {
		color: #000;
		font: 13px/14px $fm;

		a,
		span {
			vertical-align: top;
			display: inline-block;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_sep {
		color: $c4;
		margin: 0px 3px 0px 4px;

		&:first-child {
			display: none;
		}
	}
	&_date {
		color: $c4;
	}
	&_title {
		font: 30px/36px $fms;
		margin: 9px 0px 17px;

		@mixin max-width, $mobile-breakpoint {
			font: 20px/24px $fms;
			margin: 12px 0px 24px;
		}
	}
	&_links {
		margin-top: 25px;
	}
	&_author {
		font-family: $fms;
	}
	/*#endregion [object][;]*/

	&._unit {
		margin: 0px;
		padding: 0px;
		max-width: 780px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 20px;
		}
	}
}