p,
ol,
ul {
	margin: calc($p_idt - $p_top) 0px calc($p_idt - $p_bot);

	& + p,
	& + ol,
	& + ul {
		margin-top: -$p_top;
	}
	& + h1, & + .h1 {
		margin-top: calc($h1_idt - ($p_bot + $h1_top));

		@mixin max-width, $mobile-breakpoint {
			margin-top: calc($h1_idt_m - ($p_bot + $h1_top_m));
		}
	}
	& + h2, & + .h2 {
		margin-top: calc($h2_idt - ($p_bot + $h2_top));

		@mixin max-width, $mobile-breakpoint {
			margin-top: calc($h2_idt_m - ($p_bot + $h2_top_m));
		}
	}
	& + h3, & + .h3 {
		margin-top: calc($h3_idt - ($p_bot + $h3_top));

		@mixin max-width, $mobile-breakpoint {
			margin-top: calc($h3_idt_m - ($p_bot + $h3_top_m));
		}
	}
	& + h4, & + .h4 {
		margin-top: calc($h4_idt - ($p_bot + $h4_top));

		@mixin max-width, $mobile-breakpoint {
			margin-top: calc($h4_idt_m - ($p_bot + $h4_top_m));
		}
	}
	& + h5, & + .h5 {
		margin-top: calc($h5_idt - ($p_bot + $h5_top));

		@mixin max-width, $mobile-breakpoint {
			margin-top: calc($h5_idt_m - ($p_bot + $h5_top_m));
		}
	}
	& + h6, & + .h6 {
		margin-top: calc($h6_idt - ($p_bot + $h6_top));
	}

	&:first-child {
		margin-top: 0px;
	}
}