ol,
ul {
	margin: 0px;
	padding: 0px;
	display: block;
	list-style: none;
	counter-reset: l1;

	ol,
	ul {
		padding-left: 20px;
	}
}
li {
	padding: 0px;
	margin: calc($li_idt - ($li_top + $li_bot)) 0px 0px;

	&:before {
		vertical-align: top;
		display: inline-block;
	}
	&:first-child {
		margin-top: 0px;
	}
	@if $debug == 1 {
		background-color: #48bec4;
	}
}
ol {
	li {
		&:before {
			min-width: 14px;
			margin-right: 4px;
			font-family: $fms;
			font-size: 1.143em;
			counter-increment: l1;
			content: counter(l1)'.';
		}

		ol,
		ul {
			counter-reset: l2;

			li {
				&:before {
					counter-increment: l2;
					content: counter(l1)'.'counter(l2);
				}
			}
		}
	}
}
ul {
	li {
		&:before {
			content: '\2022';
			margin-right: 8px;
			vertical-align: top;
			font: 20px/14px $fms;
			display: inline-block;
		}
	}
}