img {
	height: auto;
	display: block;
	max-width: 100%;

	&._cntr {
		margin: 40px auto;
	}
	&._flft {
		margin: 0px 20px 0px 0px;
	}
	&._frgt {
		margin: 0px 0px 0px 20px;
	}
	&._cntr,
	&._flft,
	&._frgt {
		@mixin max-width, $mobile-breakpoint {
			float: none;
			margin: 30px 0px;
		}
	}
}
video,
iframe {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
}
figure {
	padding: 0px;
	display: block;
	margin: 40px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px -20px;
	}

	img {
		width: 100%;
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}
figcaption {
	padding: 0px;
	display: block;
	margin: 17px 0px -5px;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px 20px;
	}
}