.quote {
	background: $c7;
	margin: 60px 0px;
	font: 30px/36px $fm;

	@mixin max-width, $mobile-breakpoint {
		margin: 30px 0px;
		font: 20px/24px $fm;
	}

	p {
		margin: 0px;
	}

	&_box {
		max-width: $mw;
		margin: 0px auto;

		@mixin max-width, $mobile-breakpoint {
			max-width: $mw_mbl;
		}
	}
	&_wrap {
		margin: 0px auto;
		min-width: 820px;
		max-width: $mw820;
		padding: 54px 20px 51px;

		@mixin max-width, $mobile-breakpoint {
			min-width: auto;
			max-width: none;
			padding: 26px 30px 24px;
		}
	}
}