
th,
td {
	font-weight: normal;
	border: 0px solid $c5;
	padding: 18px 15px 17px;

	&:last-child {
		padding-right: 0px;
	}
	&:first-child {
		padding-left: 0px;
	}
}
table {
	margin: 0px;
	border: none;
	text-align: left;
	border-collapse: collapse;
}


.table {
	width: 100%;

	th,
	td {
		border: none;
		text-align: left;
		vertical-align: top;
		border: 1px solid $c5;
		padding: 12px 20px 10px;
	}
	th {
		color: #fff;
		background: $c3;
	}
	thead {
		th,
		td {
			vertical-align: bottom;
		}
	}
}
.wtable {
	margin: 30px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 0px -20px;
	}
}

._tb_bg {
	background: #f5f0ea;
}
._tb_bd {
	border-width: 1px;
}
._tb_bdt {
	border-top-width: 1px;
}
._tb_bdl {
	border-left-width: 1px;
}
._tb_bdr {
	border-right-width: 1px;
}
._tb_bdb {
	border-bottom-width: 1px;
}
._tb_fix {
	table-layout: fixed;
}
._tb_wide {
	width: 100%;
}