h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0px;
	font-style: normal;
	font-weight: normal;

	& + p,
	& + ol,
	& + ul {
		margin-top: -$p_top;
	}
	&:empty {
		display: none;
	}
}

h1, .h1 {
	font: $h1_sz/$h1_lh $h1_font;
	margin: -$h1_top 0px calc($h1_idt - $h1_bot);

	@mixin max-width, $mobile-breakpoint {
		font: $h1_sz_m/$h1_lh_m $h1_font;
		margin: -$h1_top_m 0px calc($h1_idt_m - $h1_bot_m);
	}

	@if $debug == 1 {
		background-color: #8cade5;
	}
}
h2, .h2 {
	font: $h2_sz/$h2_lh $h2_font;
	margin: -$h2_top 0px calc($h2_idt - $h2_bot);

	@mixin max-width, $mobile-breakpoint {
		font: $h2_sz_m/$h2_lh_m $h2_font;
		margin: -$h2_top_m 0px calc($h2_idt_m - $h2_bot_m);
	}

	@if $debug == 1 {
		background-color: #76fb3e;
	}
}
h3, .h3 {
	font: $h3_sz/$h3_lh $h3_font;
	margin: -$h3_top 0px calc($h3_idt - $h3_bot);

	@mixin max-width, $mobile-breakpoint {
		font: $h3_sz_m/$h3_lh_m $h3_font;
		margin: -$h3_top_m 0px calc($h3_idt_m - $h3_bot_m);
	}

	@if $debug == 1 {
		background-color: #a96488;
	}
}
h4, .h4 {
	font: $h4_sz/$h4_lh $h4_font;
	margin: -$h4_top 0px calc($h4_idt - $h4_bot);

	@mixin max-width, $mobile-breakpoint {
		font: $h4_sz_m/$h4_lh_m $h4_font;
		margin: -$h4_top_m 0px calc($h4_idt_m - $h4_bot_m);
	}

	@if $debug == 1 {
		background-color: #bbd639;
	}
}
h5, .h5 {
	font: $h5_sz/$h5_lh $h5_font;
	margin: -$h5_top 0px calc($h5_idt - $h5_bot);

	@mixin max-width, $mobile-breakpoint {
		font: $h5_sz_m/$h5_lh_m $h5_font;
		margin: -$h5_top_m 0px calc($h5_idt_m - $h5_bot_m);
	}

	@if $debug == 1 {
		background-color: #e8cfd3;
	}
}
h6, .h6 {
	font: $h6_sz/$h6_lh $h6_font;
	margin: -$h6_top 0px calc($h6_idt - $h6_bot);

	@if $debug == 1 {
		background-color: #519449;
	}
}