.ipost {
	position: relative;
	font: 16px/20px $fm;
	background-size: cover;
	background-repeat: no-repeat;

	@mixin max-width, $mobile-breakpoint {
		font: 14px/18px $fm;
	}

	/*#region [scheme][:]*/
	&_box {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		position: absolute;
		padding-bottom: 40px;
		justify-content: flex-end;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			height: auto;
			padding: 0px;
			display: block;
			position: relative;
		}
	}
	&_head {
		color: $c4;
		font: 13px/14px $fm;
		margin: -1px 0px 19px;

		@mixin max-width, $mobile-breakpoint {
			margin-bottom: 11px;
		}

		span {
			vertical-align: top;
			display: inline-block;
		}
	}
	&_body {
		width: 100%;
		z-index: 10;
		margin: 0px auto;
		padding: 0px 20px;
		position: relative;
		max-width: calc(100% / (780 / 620));

		@mixin max-width, $wide-breakpoint {
			max-width: 620px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_img {
		background-size: cover;
		background-repeat: no-repeat;

		@mixin max-width, $mobile-breakpoint {
			margin-bottom: 20px;
		}

		&:after {
			content: '';
			display: block;
			background: rgba(#000, .4);
			padding-bottom: calc(100% / (780 / 446));

			@mixin max-width, $mobile-breakpoint {
				background: none;
			}
		}
	}
	&_tag {
		margin-left: 5px;
		position: relative;
		vertical-align: top;
		font: 13px/14px $fms;
		display: inline-block;

		&[href] {
			color: #000;
			margin-left: 11px;

			&:before {
				top: 0px;
				color: $c1;
				right: 100%;
				display: block;
				content: '\2022';
				margin-right: 5px;
				position: absolute;
				font: 14px/10px $fms;
			}

			&:hover {
				color: $c1;
			}
			&:first-child {
				margin-left: 8px;
			}
		}
		&:first-child {
			margin-left: 0px;
		}
	}
	&_sep {
		margin: 0px 4px;

		&:first-child {
			display: none;
		}
	}
	&_name {
		color: $c2;
		border-width: 2px;
		font: 30px/36px $fms;

		@mixin max-width, $mobile-breakpoint {
			font: 20px/24px $fms;
		}
	}
	&_text {
		margin-top: 17px;

		@mixin max-width, $mobile-breakpoint {
			margin-top: 20px;
		}

		p {
			margin: 0px;

			& + p {
				margin-top: 21px;
			}
		}
	}
	&_links {
		margin-top: 25px;
		padding-bottom: 5px;
	}
	/*#endregion [object][;]*/

	& + & {
		margin-top: 60px;

		@mixin max-width, $mobile-breakpoint {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid $c5;
		}
	}
	&_imgn {
		@mixin max-width, $mobile-breakpoint {
			padding-top: 40px;
			border-top: 1px solid $c5;
		}

		& + & {
			padding-top: 40px;
			border-top: 1px solid $c5;
		}
	}
	&_imgy {
		@mixin min-width, $mobile-breakpoint {
			color: #fff;
		}

		^&_tag {
			&[href] {
				&:hover {
					@mixin min-width, $mobile-breakpoint {
						color: #fff;
					}
				}
			}
		}
		^&_tag,
		^&_name {
			@mixin min-width, $mobile-breakpoint {
				color: #fff;
			}
		}
		^&_head {
			color: #fff;

			@mixin max-width, $mobile-breakpoint {
				color: $c4;
			}
		}

		& + & {
			@mixin max-width, $mobile-breakpoint {
				padding-top: 40px;
				border-top: 1px solid $c5;
			}
		}
		& + ^&_imgn {
			@mixin min-width, $mobile-breakpoint {
				border: none;
				padding-top: 0px;
			}
		}
	}
}