.smain {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;

	/*#region [plugin][:]*/
	.flickity {
		&-page {
			&-dots {
				bottom: 14px;

				@mixin max-width, $mobile-breakpoint {
					bottom: 4px;
				}

				.dot {
					width: 20px;
					height: 20px;
					cursor: pointer;
					border-radius: 50%;
					vertical-align: top;
					display: inline-block;

					&:before {
						width: 8px;
						height: 8px;
						content: '';
						display: block;
						min-width: auto;
						margin: 6px auto;
						border-radius: 50%;
						border: 2px solid $c2;
						transition: all .2s ease-out-sine;
					}

					& + & {
						margin-left: 8px;
					}
					&.is-selected {
						&:before {
							background: $c2;
						}
					}
				}
			}
		}
	}
	/*#endregion [plugin][;]*/

	&._mbl {
		display: none;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}
	}
}