.sphoto {
	max-width: $mw;
	overflow: hidden;
	max-width: 2380px;
	margin: 60px auto 55px;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px 10px;
		max-width: $mw_mbl;
		margin: 40px auto 35px;
	}

	/*#region [scheme][:]*/
	&_show {
		margin: 0px -10px;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px;
		}

		&_img {
			min-height: 100px;
			background: 50% no-repeat;
			padding-bottom: calc(100% / (780 / 440));
			background-size: auto 100%;
		}
		&_item {
			width: 100%;
			opacity: .6;
			margin: 0px 10px;
			max-width: 780px;
			transition: opacity .2s ease-out-sine;

			@mixin max-width, $mobile-breakpoint {
				max-width: none;
			}

			&.is-selected {
				opacity: 1;
			}
		}
	}
	&_btns {
		max-width: 780px;
		margin: 0px auto;
		position: relative;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	&_data {
		margin: 0px auto;
		max-width: 780px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			max-width: none;
		}

		&_item {
			width: 100%;
			font: 16px/20px $fm;
			padding: 16px 20px 0px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_src {
		width: 100%;
	}
	&_index {
		vertical-align: top;
		font: 16px/20px $fms;
		display: inline-block;

		&:after {
			content: '|';
			margin: 0px 12px;
			font-family: $fm;
			vertical-align: top;
			display: inline-block;
		}
	}
	&_arrow {
		color: $c1;
		width: 60px;
		height: 40px;
		bottom: 40px;
		position: absolute;
		border: 1px solid $c5;
		background: rgba(#fff, .8);

		&:after {
			display: block;
			font: 24px/40px 'icons';
		}

		&._prev {
			right: 59px;

			&:after {
				content: $ico_arw_l1;
			}
		}
		&._next {
			right: 0px;

			&:after {
				content: $ico_arw_r1;
			}
		}
		&:hover {
			background: $c6;
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.flickity {
		&-viewport {
			transition: height .2s ease-out-sine;
		}
	}
	/*#endregion [plugin][;]*/

}