.steam {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	&:after {
		height: 1px;
		content: '';
		display: block;
		background: $c5;
		max-width: $mw1180;
		margin: 68px auto 0px;
	}

	/*#region [scheme][:]*/
	&_head {
		padding: 0px 40px;
		max-width: $mw1220;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 30px;
			margin-bottom: 24px;
		}

		&:before {
			height: 2px;
			content: '';
			display: block;
			background: $c1;
			margin: 0px -20px 30px;
		}
	}
	&_show {
		margin: 0px auto;
		max-width: $mw1220;
		padding-left: 20px;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px;
			max-width: none;
			padding: 0px 10px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		color: #000;
		margin: 0px 10px;
		padding: 0px 20px;
		font: 13px/18px $fm;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: 100%;
		}

		p {
			margin: 3px 0px 0px;
		}

		&_img {
			border: none;
			display: block;
			margin: 0px -20px 18px;
		}
		&_src {
			width: 100%;
		}
		&_name {
			color: $c2;
			border-width: 2px;
			font: 18px/20px $fms;
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.flickity {
		&-button {
			color: $c1;
			width: 60px;
			height: 34px;
			bottom: -48px;
			position: absolute;
			border: 1px solid $c5;
			background: rgba(#fff, .8);

			&:after {
				display: block;
				font: 24px/34px 'icons';
			}

			&-icon {
				display: none;
			}

			&.next {
				right: 20px;

				&:after {
					content: $ico_arw_r1;
				}
			}
			&.previous {
				right: 79px;

				&:after {
					content: $ico_arw_l1;
				}
			}

			&:hover {
				background: $c6;
			}
			&:disabled {
				color: $c5;
				background: rgba(#fff, .8);
			}
		}
	}
	/*#endregion [plugin][;]*/

}