.syears {
	overflow: hidden;
	margin: 0px auto;
	padding: 0px 20px;
	max-height: 100px;
	max-width: $mw1220;
	padding-bottom: 20px;
	border-bottom: 1px solid $c5;

	&:after,
	&:before {
		top: 0px;
		width: 1px;
		z-index: 1;
		content: '';
		height: 100%;
		display: block;
		background: #fff;
		position: absolute;
		box-shadow: 0px 0px 120px 120px #fff;

		@mixin max-width, $mobile-breakpoint {
			box-shadow: 0px 0px 60px 60px #fff;
		}
	}
	&:after {
		right: 0px;
	}
	&:before {
		left: 0px;
	}

	/*#region [object][:]*/
	&_item {
		width: 80px;
		height: 40px;
		color: $c4;
		display: block;
		cursor: pointer;
		position: relative;
		text-align: center;
		margin-bottom: 6px;
		font: 20px/42px $fms;
		transition: color .4s ease-out-sine,
					background .4s ease-out-sine;

		&:after {
			top: 100%;
			left: 50px;
			width: 0px;
			opacity: 0;
			height: 0px;
			content: '';
			display: block;
			margin-left: -15px;
			position: absolute;
			border-style: solid;
			border-width: 6px 5px 0px 5px;
			transition: all .4s ease-out-sine;
			border-color: $c1 transparent transparent transparent;
		}

		&:hover {
			color: #000;
			background: $c6;
		}
		&.is-selected {
			z-index: 2;
			color: #fff;
			background: $c1;

			&:after {
				opacity: 1;
			}
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.flickity {
		&-button {
			top: 0px;
			color: $c1;
			z-index: 10;
			width: 60px;
			height: 40px;
			position: absolute;
			border: 1px solid $c5;
			background: rgba(#fff, .8);

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}

			&:after {
				display: block;
				font: 24px/40px 'icons';
			}

			&-icon {
				display: none;
			}

			&.next {
				right: 0px;

				&:after {
					content: $ico_arw_r1;
				}
			}
			&.previous {
				right: 59px;

				&:after {
					content: $ico_arw_l1;
				}
			}

			&:hover {
				background: $c6;
			}
			&:disabled {
				color: $c5;
				background: rgba(#fff, .8);
			}
		}
	}
	/*#endregion [plugin][;]*/

}