$chint: $c5;
$cerror: #cc0000;
$cvalid: #73b865;

/*#region [nets][:]*/
$vk: #45668e;
$ok: #ed812b;
$fb: #3b5998;
$tw: #1da1f2;
$ig: #517fa4;
$in: #0077b5;
$tg: #0088cc;
$yt: #bb0000;
$gp: #dd4b39;
$lj: #004359;
$st: #00aae7;
/*#endregion [nets][;]*/