$fm:  'Montserrat', sans-serif;
$fmb: 'Montserrat-Bold', sans-serif;
$fmi: 'Montserrat-Italic', sans-serif;
$fmm: 'Montserrat-Medium', sans-serif;
$fms: 'Montserrat-SemiBold', sans-serif;

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/montserrat.eot');
	src: url('../fonts/montserrat.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat.woff2') format('woff2'),
		 url('../fonts/montserrat.woff') format('woff'),
		 url('../fonts/montserrat.ttf') format('truetype'),
		 url('../fonts/montserrat.svg#montserrat') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/montserrat-bold.eot');
	src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-bold.woff2') format('woff2'),
		 url('../fonts/montserrat-bold.woff') format('woff'),
		 url('../fonts/montserrat-bold.ttf') format('truetype'),
		 url('../fonts/montserrat-bold.svg#montserratbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Italic';
	src: url('../fonts/montserrat-italic.eot');
	src: url('../fonts/montserrat-italic.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-italic.woff2') format('woff2'),
		 url('../fonts/montserrat-italic.woff') format('woff'),
		 url('../fonts/montserrat-italic.ttf') format('truetype'),
		 url('../fonts/montserrat-italic.svg#montserratitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/montserrat-medium.eot');
	src: url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-medium.woff2') format('woff2'),
		 url('../fonts/montserrat-medium.woff') format('woff'),
		 url('../fonts/montserrat-medium.ttf') format('truetype'),
		 url('../fonts/montserrat-medium.svg#montserratmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-SemiBold';
	src: url('../fonts/montserrat-semibold.eot');
	src: url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-semibold.woff2') format('woff2'),
		 url('../fonts/montserrat-semibold.woff') format('woff'),
		 url('../fonts/montserrat-semibold.ttf') format('truetype'),
		 url('../fonts/montserrat-semibold.svg#montserratsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}