@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/icons.woff2') format('woff2'),
		 url('../fonts/icons.woff') format('woff'),
		 url('../fonts/icons.ttf') format('truetype'),
		 url('../fonts/icons.svg#icons') format('svg');
	font-style: normal;
	font-weight: normal;
	font-stretch: normal;
}

$ico_eu: '\e800';

$ico_vk: '\e801';
$ico_fb: '\e802';
$ico_tw: '\e803';
$ico_ig: '\e804';
$ico_in: '\e805';
$ico_tg: '\e806';
$ico_yt: '\e807';
$ico_ml: '\e808';

$ico_lang: '\e809';
$ico_list: '\e80a';
$ico_link: '\e80b';
$ico_play: '\e80c';
$ico_mark: '\e80d';
$ico_done: '\e80e';
$ico_mail: '\e80f';
$ico_more: '\e810';
$ico_event: '\e811';
$ico_phone: '\e812';
$ico_share: '\e813';
$ico_credit: '\e814';
$ico_search: '\e815';
$ico_filter: '\e816';
$ico_comment: '\e817';
$ico_refresh: '\e818';
$ico_question: '\e819';
$ico_calendar: '\e81a';
$ico_download: '\e81b';
$ico_ellipsis: '\e81c';

$ico_arw_t1: '\e81d';
$ico_arw_b1: '\e81e';
$ico_arw_l1: '\e81f';
$ico_arw_r1: '\e820';