
$debug: 0;

$es: ease-out-sine;

$mw: 1440px;
$mw: 1280px;
$mw: 1920px;
$mw2: 1920px;

$mw_mbl: 568px;

$50_rel_mw: calc((50 * $mw) / 1280);
$60_rel_mw: calc((60 * $mw) / 1280);
$460_rel_mw: calc((460 * $mw) / 1280);
$500_rel_mw: calc((500 * $mw) / 1280);
$660_rel_mw: calc((660 * $mw) / 1280);

/*
$mw620: calc($mw - $660_rel_mw);
$mw780: calc($mw - $500_rel_mw);
$mw820: calc($mw - $460_rel_mw);
$mw1220: calc($mw - $60_rel_mw);
$mw1230: calc($mw - $50_rel_mw);
*/

$mw620: calc(100% / (1280 / 620));
$mw780: calc(100% / (1280 / 780));
$mw820: calc(100% / (1280 / 820));
$mw1180: calc(100% / (1280 / 1180));
$mw1220: calc(100% / (1280 / 1220));
$mw1230: calc(100% / (1280 / 1230));



$wide-breakpoint: 1280px;
$tablet-breakpoint: 1280px;
$mobile-breakpoint: 768px;


$20: calc(100% / (1280 / 20));
$50: calc(100% / (1280 / 50));


$300: calc(100% / (1180 / 300));
$360: calc(100% / (1180 / 360));
$380: calc(100% / (1180 / 380));
$400: calc(100% / (1180 / 400));
$420: calc(100% / (1180 / 420));
$780: calc(100% / (1180 / 780));
$800: calc(100% / (1180 / 800));
$830: calc(100% / (1180 / 830));
$868: calc(100% / (1180 / 868));
$880: calc(100% / (1180 / 880));
$900: calc(100% / (1180 / 900));