/*#region [txt][:]*/
$p_top: 3px;
$p_bot: 5px;
$p_idt: 30px;

$li_idt: 20px;
$li_top: $p_top;
$li_bot: $p_bot;
/*#endregion [txt][;]*/

/*#region [h1][:]*/
$h1_sz: 30px;
$h1_lh: 36px;
$h1_top: 6px;
$h1_bot: 9px;
$h1_idt: 40px;
$h1_font: $fms;

$h1_sz_m: 24px;
$h1_lh_m: 28px;
$h1_top_m: 4px;
$h1_bot_m: 7px;
$h1_idt_m: 30px;
/*#endregion [h1][;]*/

/*#region [h2][:]*/
$h2_sz: 28px;
$h2_lh: 32px;
$h2_top: 4px;
$h2_bot: 8px;
$h2_idt: 40px;
$h2_font: $fms;

$h2_sz_m: 22px;
$h2_lh_m: 26px;
$h2_top_m: 4px;
$h2_bot_m: 6px;
$h2_idt_m: 30px;
/*#endregion [h2][;]*/

/*#region [h3][:]*/
$h3_sz: 24px;
$h3_lh: 28px;
$h3_top: 4px;
$h3_bot: 7px;
$h3_idt: 30px;
$h3_font: $fms;

$h3_sz_m: 20px;
$h3_lh_m: 24px;
$h3_top_m: 4px;
$h3_bot_m: 6px;
$h3_idt_m: 30px;
/*#endregion [h3][;]*/

/*#region [h4][:]*/
$h4_sz: 20px;
$h4_lh: 24px;
$h4_top: 4px;
$h4_bot: 6px;
$h4_idt: 30px;
$h4_font: $fms;

$h4_sz_m: 18px;
$h4_lh_m: 22px;
$h4_top_m: 3px;
$h4_bot_m: 6px;
$h4_idt_m: 30px;
/*#endregion [h4][;]*/

/*#region [h5][:]*/
$h5_sz: 18px;
$h5_lh: 22px;
$h5_top: 3px;
$h5_bot: 6px;
$h5_idt: 30px;
$h5_font: $fms;

$h5_sz_m: 16px;
$h5_lh_m: 20px;
$h5_top_m: 4px;
$h5_bot_m: 5px;
$h5_idt_m: 30px;
/*#endregion [h5][;]*/

/*#region [h6][:]*/
$h6_sz: 14px;
$h6_lh: 16px;
$h6_top: 2px;
$h6_bot: 4px;
$h6_idt: 30px;
$h6_font: $fms;
/*#endregion [h6][;]*/