.ebplay {
	border-radius: 50%;
	background: rgba($c1, .6);
	transition: all .2s ease-out-sine;
	box-shadow: 0px 2px 6px rgba(#000, .25);

	&:after {
		top: 0px;
		left: 0px;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: url('/assets/img/design/obj/play_1.svg') 50% no-repeat;
		background-size: contain;
	}

	&:hover {
		background: $c1;
	}
}