.elmore {
	color: #000;
	margin-left: 18px;
	vertical-align: top;
	font: 13px/14px $fms;
	display: inline-block;

	&:before {
		top: -2px;
		color: $c1;
		right: 100%;
		display: block;
		margin-right: 1px;
		content: $ico_more;
		position: absolute;
		font: 24px/14px 'icons';
	}

	&:hover {
		color: $c1;
	}
}