.elsubs {
	border: none;
	color: #fff;
	background: $c1;
	margin-top: 30px;
	position: relative;
	vertical-align: top;
	font: 14px/18px $fms;
	display: inline-block;
	padding: 10px 15px 8px 44px;
	transition: all .4s ease-out-sine;

	&:before {
		top: 50%;
		left: 13px;
		display: block;
		margin-top: -12px;
		content: $ico_mail;
		position: absolute;
		font: 24px/24px 'icons';
	}

	&:hover {
		color: #fff;
		background: $c2;
	}
}