.etarea {
	border: none;
	color: #000;
	margin-top: -4px;
	position: relative;
	font: 20px/24px $fms;
	align-self: flex-start;
	text-transform: uppercase;

	@mixin max-width, $mobile-breakpoint {
		margin-top: -3px;
		font: 18px/22px $fms;
	}

	&:after {
		left: 0px;
		width: 0px;
		height: 2px;
		bottom: 0px;
		display: block;
		position: absolute;
		background: currentColor;
		transition: width .4s ease-out-sine;
	}
	&:before {
		content: '\2022';
		margin-right: 6px;
		color: currentColor;
		vertical-align: top;
		font: 20px/18px $fms;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			line-height: 16px;
		}
	}

	&[href] {
		color: $c1;
		margin-left: 13px;
		vertical-align: top;
		display: inline-block;

		&:after {
			content: '';
		}
		&:before {
			top: 0px;
			right: 100%;
			position: absolute;
		}
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}