.popup {
	width: 100%;
	max-width: 780px;
	position: relative;
	background: #fff;
	padding: 41px 20px 40px;
	box-shadow: 0px 2px 10px rgba(#000, .25);

	@mixin max-width, $mobile-breakpoint {
		padding: 42px 20px 20px;
	}

	&_form {
		margin: 0px !important;
	}
	&_close {
		top: 0px;
		right: 0px;
		opacity: 0;
		z-index: 50;
		width: 30px;
		height: 30px;
		color: #fff;
		background: $c1;
		position: absolute;
		transition:
			opacity .3s $es,
			background .3s $es;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			transition: all .3s $es;
			background: currentColor;
			transform: rotate(45deg);
		}
		&:after {
			width: 20px;
			height: 2px;
			margin: -1px 0px 0px -10px;
		}
		&:before {
			width: 2px;
			height: 20px;
			margin: -10px 0px 0px -1px;
		}

		&:hover {
			background: $c2;

			&:after {
				transform: rotate(45deg) scaleX(1.125);
			}
			&:before {
				transform: rotate(45deg) scaleY(1.125);
			}
		}

		.remodal-is-opened & {
			opacity: 1;
		}
	}
}





.wPayment {
	margin-top: 30px;
	padding-top: 27px;
	text-align: center;
	border-top: 1px solid $c5;

	&_menu {
		font: 0/0 serif;
		text-align: left;
		user-select: none;
		margin: 12px -20px 0px;

		&_lnk {
			cursor: pointer;
			position: relative;
			vertical-align: top;
			margin: 2px 10px 0px;
			font: 14px/18px $fms;
			display: inline-block;
			padding: 6px 20px 4px 36px;

			.radio {
				top: 6px;
				left: 10px;
				position: absolute;
			}

			&._active {
				background: $c7;
			}
		}
	}
	&_tabs {
		background: $c7;
		text-align: left;
		margin: 20px -10px 0px;

		&_itm {
			display: none;
			padding: 17px 30px 15px;

			@mixin max-width, $mobile-breakpoint {
				padding: 17px 10px 15px;
			}

			&:before {
				width: 100%;
				content: '';
				display: table;
			}

			&._active {
				display: block;
			}
		}
	}
	&_flds {
		display: flex;
		font: 0/0 serif;
		flex-wrap: wrap;
		margin-top: -7px;

		&_itm {
			flex-grow: 1;
			flex-basis: 0;
			display: block;
			cursor: pointer;
			position: relative;
			font: 14px/18px $fms;
			padding: 6px 20px 4px 26px;

			@mixin max-width, 580px {
				flex-basis: 50%;
			}
			@mixin max-width, $mobile-breakpoint {
				display: block;
				margin: 1px 0px 0px;
			}

			.radio {
				top: 6px;
				left: 0px;
				position: absolute;
			}
		}
	}
	&_text {
		margin-top: 7px;

		&:first-child {
			margin-top: 0px;
		}
		& :first-child {
			margin-top: 0px;
		}
	}
	&_foot {
		text-align: left;
		margin-top: 40px;
		padding-top: 20px;
		border-top: 1px solid $c5;
	}
	&_title {
		display: block;
		text-align: left;
		font: 18px/22px $fms;
	}
	&_cards {
		display: flex;
		flex-wrap: wrap;
		user-select: none;
		margin: -10px -5px 0px;
		justify-content: center;

		@mixin max-width, $mobile-breakpoint {
			max-width: 260px;
			margin: -10px auto 0px;
		}

		&_itm {
			max-height: 31px;
			margin: 10px 5px 0px;
		}
	}
	&_submit {
		width: 100%;
		color: #fff;
		background: $c1;
		max-width: 220px;
		min-height: 56px;
		text-align: left;
		font: 14px/18px $fms;
		margin: 20px auto 0px;
		padding: 0px 26px 0px 50px;
		transform: perspective(1px);

		&:before {
			top: 4px;
			left: 13px;
			width: 24px;
			display: block;
			position: absolute;
			font: 23px/24px 'icons';
		}

		&-request {
			&:after {
				content: attr(data-lbl1);
			}
			&:before {
				content: $ico_done '\000A' $ico_list;
			}
		}
		&-payment {
			&:after {
				content: attr(data-lbl2);
			}
			&:before {
				left: 11px;
				text-indent: 2px;
				content: $ico_done '\000A' $ico_credit;
			}
		}


		&:hover {
			background: $c2;
		}
		&._stop {
			width: auto;
			max-width: none;
			padding-left: 26px;

			&:after {
				content: attr(data-lbl0);
			}
			&:before {
				content: normal;
			}
		}
		&._disabled {
			color: #000;
			cursor: default;
			background: $c7;
			pointer-events: none;

			&:hover {
				background: $c7;
			}
		}
	}
	&_phones {
		margin-top: 27px;

		&_head {
			a,
			strong {
				color: $c2;
				font-family: $fmb;
			}
			& :first-child {
				margin-top: 0px;
			}
		}
		&_body {
			display: flex;
			flex-wrap: wrap;
			margin: 1px -10px 0px;

			@mixin max-width, $mobile-breakpoint {
				display: block;
				margin: 1px 0px 0px;
			}
		}
		&_item {
			display: block;
			margin: 11px 10px 0px;
			width: calc(33.33334% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				margin: 11px 0px 0px;
			}

			&:after {
				width: 100%;
				content: '';
				display: table;
			}
		}
		&_city {
			display: block;
		}
		&_value {
			color: $c2;
			float: left;
			clear: both;
			font-family: $fmb;
		}
	}
}