.about {
	max-width: $mw;
	margin: 30px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_tab {
		display: none;
		flex-flow: wrap;
		margin-left: 20px;
		width: calc(66.6667% - (20px - 20px * 2/3));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			margin: 0px;
			padding: 0px 20px;
		}

		&_cell {
			padding: 0px 20px;
			width: calc(50% - (20px - 20px * 1/2));

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				padding: 0px;
			}

			&._2 {
				margin-left: 20px;

				@mixin max-width, $mobile-breakpoint {
					margin: calc($p_idt - $p_top) 0px 0px;
				}
			}
		}

		&._active {
			display: flex;

			@mixin max-width, $mobile-breakpoint {
				display: block;
			}
		}
	}
	&_head {
		font-size: 0px;
		max-width: $mw;
		background: $c1;
		margin: 0px auto;
		line-height: 0px;

		@mixin max-width, $mobile-breakpoint {
		}

		&_wrap {
			display: flex;
			flex-flow: wrap;
			margin: 0px auto;
			padding: 0px 20px;
			max-width: $mw1220;

			@mixin max-width, $mobile-breakpoint {
				padding: 0px;
				display: block;
				max-width: $mw_mbl;
			}
		}
		&_cell {
			flex-grow: 1;
			height: 120px;
			display: flex;
			flex-flow: column;
			position: relative;
			padding: 0px 20px 14px;
			justify-content: flex-end;

			@mixin max-width, $mobile-breakpoint {
				height: 60px;
			}

			&._1 {
				width: calc(33.3334% - (20px - 20px * 1/3));

				@mixin max-width, $mobile-breakpoint {
					width: auto;
					background: $c1;
					padding: 0px 30px 14px;
				}
			}
			&._2 {
				width: calc(66.6667% - (20px - 20px * 2/3) + 20px);

				@mixin max-width, $mobile-breakpoint {
					display: none;
				}
			}
		}
	}
	&_wrap {
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			max-width: none;
			padding: 0px 10px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_img {
		margin: 0px -20px;

		&_src {
			width: 100%;
		}
	}
	&_name {
		padding: 0px 20px;
		font: 20px/24px $fms;
		margin: -4px 0px 0px;
		width: calc(33.3334% - (20px - 20px * 1/3));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
		}
	}
	&_video {
		cursor: pointer;
		margin: 0px -20px;
		position: relative;
		background: $c5 no-repeat;
		background-size: cover;

		&:after {
			z-index: 1;
			content: '';
			height: 0px;
			display: block;
			position: relative;
			padding-bottom: 56.25%;
			background: rgba(#000, .4);
		}

		&_play {
			top: 50%;
			left: 50%;
			z-index: 2;
			width: 48px;
			height: 48px;
			position: absolute;
			transform: translate(-50%, -50%);
		}

		&:hover {
			^&_play {
				background: $c1;
			}
		}
	}
	&_title {
		color: #fff;

		&[href],
		&:hover {
			color: #fff;
		}
	}
	/*#endregion [object][;]*/

}