.albums {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_head {
		padding: 0px 40px;
		max-width: $mw1220;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 30px;
			margin-bottom: 24px;
		}

		&:before {
			height: 2px;
			content: '';
			display: block;
			background: $c5;
			margin: 0px -20px 30px;
		}
	}
	&_body {
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}
	}
	&_foot {
		margin: 0px auto;
		max-width: $mw1220;
		padding: 30px 10px 0px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}

		&_cell {
			float: right;
			margin: 0px 10px;
			padding: 0px 20px;
			width: calc(33.3334% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				float: none;
				margin: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		border: none;
		color: #fff;
		position: relative;
		vertical-align: top;
		display: inline-block;
		margin: 20px 10px 0px;
		background-size: cover;
		background-repeat: no-repeat;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			margin: 0px;
			display: block;
		}

		&:after {
			height: 0px;
			content: '';
			display: block;
			background: rgba(#000, .4);
			padding-bottom: calc(100% / (380 / 214));
		}

		&_box {
			left: 0px;
			z-index: 2;
			width: 100%;
			bottom: 0px;
			position: absolute;
			padding: 0px 20px 15px;
		}
		&_name {
			font: 16px/20px $fms;
			transition: all .2s ease-out-sine;
			border-bottom: 2px solid transparent;
		}

		& + & {
			@mixin max-width, $mobile-breakpoint {
				margin-top: 10px;
			}
		}
		&:hover {
			color: #fff;

			^&_name {
				border-color: #fff;
			}
		}
		&:nth-child(-n + 3) {
			@mixin min-width, $mobile-breakpoint {
				margin-top: 0px;
			}
		}
	}
	/*#endregion [object][;]*/

}