.bayan {
	margin: 60px 0px;

	@mixin max-width, $mobile-breakpoint {
		margin: 30px -20px;
	}

	/*#region [scheme][:]*/
	&_head {
		color: $c2;
		cursor: pointer;
		position: relative;
		padding: 15px 20px 12px;

		@mixin max-width, $mobile-breakpoint {
			padding-right: 53px;
		}

		&:after {
			top: 50%;
			color: $c1;
			right: 14px;
			width: 24px;
			height: 24px;
			display: block;
			margin-top: -12px;
			text-align: center;
			position: absolute;
			content: $ico_arw_b1;
			font: 24px/28px 'icons';
		}

		&:last-child {
			cursor: auto;

			&:after {
				display: none;
			}
		}
	}
	&_body {
		display: none;
		padding: 0px 20px;
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_txt {
		display: block;
		max-width: 680px;

		&._name {
			color: $c2;
			width: 100%;
			margin: 0px auto;
			color: currentColor;
			font: 18px/22px $fms;
		}
		&._date {
			color: #000;
			margin: 1px auto;
			font: 14px/18px $fm;
		}
	}
	&_box {
		max-width: 680px;
		margin: 0px auto;
		padding: 6px 0px 25px;
	}
	&_item {
		background: $c6;
		transition: all .2s ease-out-sine;
		box-shadow: inset 0px 0px 0px 2px $c6;

		& + & {
			margin-top: 2px;
		}
		&:hover {
			background: $c7;
		}
		&._active {
			background: #fff;

			^^&_head {
				&:after {
					content: $ico_arw_t1;
				}
			}
			^^&_body {
				display: block;
			}
		}
	}
	&_title {
		margin-left: 20px;
		margin-bottom: 24px;
	}
	/*#endregion [object][;]*/


	&:last-child {
		margin-bottom: 0px;
	}
}