.clubs {
	max-width: $mw;
	margin: 10px auto 60px;

	@mixin max-width, $mobile-breakpoint {
		max-width: $mw_mbl;
		margin: 11px auto 40px;
	}

	/*#region [scheme][:]*/
	&_wrap {
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			max-width: none;
		}
	}
	&_cell {
		color: #000;
		position: relative;
		font: 13px/15px $fm;
		border: 1px solid $c5;
		margin: 20px 10px 0px;
		padding: 17px 20px 66px;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			border: none;
			padding: 0px;
			margin: -1px 0px 0px;
		}

		&._itm {
			border: none;
			padding: 0px;

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}
		}
		&._txt {
			padding-bottom: 16px;

			@mixin max-width, $mobile-breakpoint {
				padding: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_name {
		color: $c1;
		font: 18px/22px $fms;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			font: 14px/18px $fms;
			border: 1px solid $c5;
			padding: 17px 20px 15px;
		}

		&:hover {
			@mixin max-width, $mobile-breakpoint {
				border-color: $c5;
			}
		}
	}
	&_data {
		margin-top: 12px;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}

		p {
			margin: 0px;
		}
		ul {
			margin-top: 14px;
		}
		li {
			margin-top: 4px;

			&:before {
				font: 14px/12px $fms;
			}
		}
		hr {
			height: 1px;
			border: none;
			background: $c5;
			margin: 16px 0px 8px;
		}
	}
	&_plan {
		width: 100%;
		margin-top: 16px;
		border-top: 1px solid $c5;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}

		tr {
			&:first-child {
				td {
					padding-top: 8px;
				}
			}
		}
		td {
			text-align: left;
			white-space: nowrap;
			vertical-align: top;
			padding: 4px 10px 0px 0px;

			&:nth-child(2) {
				white-space: normal;
			}
			&:nth-child(3) {
				font-family: $fmb;
				padding-right: 0px;
			}
		}
	}
	&_link {
		left: 20px;
		bottom: 20px;
		position: absolute;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}
	/*#endregion [object][;]*/

}