.contacts {
	max-width: $mw;
	margin: 40px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px 10px;
		max-width: $mw_mbl;
	}

	&_body {
		width: 100%;
		float: right;
		max-width: $mw1230;
		padding-bottom: 40px;

		@mixin max-width, $mobile-breakpoint {
			float: none;
			padding: 0px;
			max-width: none;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_foot {
		clear: both;
		margin: 0px auto;
		padding: 0px 40px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: $mw_mbl;
			padding: 30px 20px 0px;
		}

		&:before {
			height: 1px;
			content: '';
			display: block;
			background: $c5;
			margin: 0px -20px 30px;

			@mixin max-width, $mobile-breakpoint {
				content: normal;
			}
		}
	}
}