.course {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_head {
		padding: 0px 30px;
		margin: 0px auto /*34px*/;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 20px;
			/*margin-bottom: 24px;*/
		}

		&:before {
			height: 2px;
			content: '';
			display: block;
			background: $c1;
			margin: 0px -20px 30px;
		}
	}
	&_wrap {
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}
	}
	&_body {
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		padding: 0px 20px;
		vertical-align: top;
		margin: 40px 10px 0px;
		display: inline-block;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			margin: 40px 0px 0px;
		}

		&_img {
			border: none;
			display: block;
			margin-bottom: 16px;
			background-size: cover;
			background-repeat: no-repeat;

			&:after {
				height: 0px;
				content: '';
				display: block;
				padding-bottom: calc(100% / (340 / 214));
			}
		}
		&_tag {
			color: #000;
			position: relative;
			font: 13px/14px $fms;
			margin: 0px 0px -1px 10px;

			&:before {
				top: 0px;
				color: $c1;
				right: 100%;
				display: block;
				content: '\2022';
				margin-right: 5px;
				position: absolute;
				font: 14px/10px $fms;
			}

			&:hover {
				color: $c1;
			}
		}
		&_btn {
			margin-top: 27px;
			font: 14px/16px $fms;
			padding: 11px 20px 9px;
		}
		&_name {
			color: $c2;
			font: 16px/20px $fm;
		}
		&_foot {
			color: $c4;
			font: 13px/16px $fm;
			margin: 6px 0px -2px;

			span {
				vertical-align: top;
				display: inline-block;
			}
		}

		&._hide {
			display: none;
		}
	}
	/*#endregion [object][;]*/

}