.facts {
	max-width: $mw;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_head {
		padding: 0px 40px;
		max-width: $mw1220;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 30px;
			margin-bottom: 24px;
		}
	}
	&_body {
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;
		justify-content: center;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			max-width: none;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		text-align: center;
		font: 14px/18px $fm;
		border: 1px solid $c5;
		margin: 20px 10px 0px;
		padding: 30px 20px 25px;
		width: calc(33.3334% - 20px);
		transition: border .4s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			margin: 10px 0px 0px;
		}

		p {
			margin: 0px;
		}

		&_img {
			display: block;
			max-height: 100px;
			margin: 0px auto 28px;
		}
		&_name {
			display: block;
			font-family: $fms;
			margin-bottom: 12px;
		}

		&:first-child {
			@mixin max-width, $mobile-breakpoint {
				margin-top: 0px;
			}
		}
		&:nth-child(-n + 3) {
			@mixin min-width, $mobile-breakpoint {
				margin-top: 0px;
			}
		}
	}
	/*#endregion [object][;]*/
}