.lesson {
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px -20px;
	}

	&_item {
		border: none;
		color: #000;
		display: block;
		background: $c7;
		padding: 16px 20px 14px;
		transition: all .2s ease-out-sine;

		&_name {
			color: $c2;
			font: 20px/24px $fms;
			transition: all .2s ease-out-sine;

			&:before {
				content: '\2022';
				margin-right: 7px;
				vertical-align: top;
				font: 20px/18px $fms;
				display: inline-block;
			}
		}
		&_date {
			display: block;
			padding-top: 3px;
			font: 13px/14px $fm;
		}

		& + & {
			border-top: 2px solid #fff;
		}
		&:hover {
			background: $c6;
		}
	}
	&_title {
		margin-left: 20px;
		margin-bottom: 24px;
	}
}