.logos {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;
	position: relative;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_row {
		display: flex;
		flex-flow: wrap;

		@mixin max-width, $mobile-breakpoint {
			display: flex;
			flex-flow: wrap;
		}

		& + & {
			padding-top: 40px;

			@mixin max-width, $mobile-breakpoint {
				padding-top: 0px;
			}
		}
	}
	&_head {
		padding: 0px 20px;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			margin-bottom: 14px;
		}

		&:before {
			height: 2px;
			content: '';
			display: block;
			background: $c1;
			margin: 0px -20px 30px;
		}
	}
	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
		}
	}
	&_foot {
		margin: 0px auto;
		max-width: $mw1220;
		padding: 30px 10px 0px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}

		&_cell {
			float: right;
			margin: 0px 10px;
			padding: 0px 20px;
			width: calc(33.3334% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				float: none;
				margin: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_img {
		margin: 0px auto;
		max-width: 140px;
		max-height: 100px;

		@mixin max-width, $mobile-breakpoint {
			max-width: 100px;
		}
	}
	&_item {
		border: none;
		flex-grow: 1;
		width: 16.6667%;
		align-self: center;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			margin-top: 10px;
			width: calc(50% - 5px);
		}

		&:nth-child(2n) {
			@mixin max-width, $mobile-breakpoint {
				margin-left: 10px;
			}
		}
	}
	/*#endregion [object][;]*/

	&:last-child {
		margin-bottom: 0px;
	}
}