.map {
	float: right;
	background: $c5;
	min-height: 360px;
	width: calc(100% - 480px);

	@mixin max-width, $mobile-breakpoint {
		width: auto;
		float: none;
		margin-top: 25px;
		min-height: 340px;
		border: 1px solid $c5;
	}

	&:after {
		height: 0px;
		content: '';
		display: block;
		padding-bottom: calc(100% / (730 / 340));
	}
}