.news {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		max-width: none;
		margin: 40px auto;
	}

	/*#region [scheme][:]*/
	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			max-width: $mw_mbl;
		}
	}
	&_head {
		color: $c1;
		padding: 0px 20px;
		margin: 0px auto 26px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 30px;
			margin-bottom: 16px;
		}

		&:before {
			height: 2px;
			content: '';
			display: block;
			margin: 0px -20px 30px;
			background: currentColor;
		}

		&._c2 {
			color: $c5;
		}
	}
	&_menu {
		padding: 4px 20px 0px;
		margin: 26px auto 26px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 4px 10px 0px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}
	&_area {
		width: 33.3334%;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
		}

		& + & {
			margin-left: 20px;

			@mixin max-width, $mobile-breakpoint {
				margin: 40px 0px 0px;
			}
		}
		&._x2 {
			width: calc(66.6667% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
			}
		}
	}
	&_body {
		@mixin max-width, $mobile-breakpoint {
			margin: 0px auto;
			padding: 0px 30px;
		}

		&._x2 {
			column-count: 2;
			column-gap: 20px;

			@mixin max-width, $mobile-breakpoint {
				column-gap: normal;
				column-count: auto;
			}
		}
		&._x3 {
			column-count: 3;
			column-gap: 20px;

			@mixin max-width, $mobile-breakpoint {
				column-gap: normal;
				column-count: auto;
			}
		}
	}
	&_foot {
		margin: 0px auto;
		padding: 0px 40px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 30px;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}

		&_cell {
			float: right;
			margin: 0px 10px;
			padding: 0px 20px;
			width: calc(33.3334% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				float: none;
				margin: 0px;
				padding: 0px;
			}
		}
	}
	&_column {
		vertical-align: top;
		display: inline-block;
		width: calc(33.3337% - (20px - 20px * 1/3));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			padding: 0px 30px;
			max-width: $mw_mbl;
			margin: 26px auto 35px;
		}

		&._x2 {
			column-count: 2;
			column-gap: 20px;
			padding-right: 20px;
			width: calc(66.6667% - (20px - 20px * 2/3));

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				padding: 0px 30px;
				column-gap: normal;
				column-count: auto;
			}
		}
		&:last-child {
			margin-left: 20px;

			@mixin max-width, $mobile-breakpoint {
				margin-left: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_tab {
		display: none;
		column-count: 3;
		column-gap: 20px;

		@mixin max-width, $mobile-breakpoint {
			column-gap: normal;
			column-count: auto;
		}

		&._active {
			display: block;
		}
	}
	&_item {
		padding: 1px 20px;
		break-inside: avoid;
		page-break-inside: avoid;
		backface-visibility: hidden;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
		}

		&_box {
			min-width: 100%;
			break-inside: avoid;
			vertical-align: top;
			display: inline-block;
			page-break-inside: avoid;
			backface-visibility: hidden;
		}
		&_src {
			width: 100%;
		}
		&_tag {
			color: #000;
			position: relative;
			font: 13px/14px $fms;
			margin: 0px 0px -1px 10px;

			&:before {
				top: 0px;
				color: $c1;
				right: 100%;
				display: block;
				content: '\2022';
				margin-right: 5px;
				position: absolute;
				font: 14px/10px $fms;
			}

			&:hover {
				color: $c1;
			}
		}
		&_sep {
			margin: -1px 4px 0px;

			&:first-child {
				display: none;
			}
		}
		&_file {
			width: 100%;
			border: none;
			display: block;
			cursor: pointer;
			position: relative;
			margin: 4px 0px 16px;

			&._video {
				&:after,
				&:before {
					top: 50%;
					left: 50%;
					content: '';
					width: 48px;
					height: 48px;
					display: block;
					position: absolute;
					border-radius: 50%;
					margin: -24px 0px 0px -24px;
					transition: all .2s ease-out-sine;
				}
				&:after {
					z-index: 2;
					background: url('/assets/img/design/obj/play_1.svg') 50% no-repeat;
					background-size: contain;
				}
				&:before {
					z-index: 1;
					background: rgba($c1, .6);
					box-shadow: 0px 2px 6px rgba(#000, .25);
				}

				&:hover {
					&:before {
						background: $c1;
					}
				}
			}
		}
		&_name {
			color: $c2;
			font: 16px/20px $fm;
		}
		&_foot {
			color: $c4;
			min-width: 100%;
			margin-top: 6px;
			break-inside: avoid;
			vertical-align: top;
			font: 13px/16px $fm;
			display: inline-block;
			page-break-inside: avoid;
			backface-visibility: hidden;

			span {
				vertical-align: top;
				display: inline-block;
			}
		}

		& + & {
			margin-top: 20px;
		}
		&._hide {
			display: none;

			& + ^&,
			& + ^^&_more {
				margin-top: 0px;
			}
		}
	}
	&_more {
		margin: 27px 0px 0px 38px;

		@mixin max-width, $mobile-breakpoint {
			margin-left: 18px;
		}
	}
	/*#endregion [object][;]*/

	&._main {
		margin-top: 26px;
	}
	&._side {
		padding: 0px;
		margin: 0px 0px 36px;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}