.office {
	width: 100%;
	float: left;
	max-width: 480px;
	padding: 0px 20px;

	@mixin max-width, $mobile-breakpoint {
		float: none;
		padding: 0px;
	}

	p {
		margin: 0px;

		& + p {
			margin-top: 12px;
		}
	}
	ul {
		margin: 0px;
		padding: 0px;

		& + ul {
			margin-top: 12px;
		}
	}
	li {
		margin: 0px;
		padding: 0px;

		&:before {
			content: normal;
		}

		& + li {
			margin-top: 2px;
		}
	}

	&_lbl {
		margin-left: 5px;
	}
	&_tel {
		color: #000;
		font-family: $fms;
	}
	&_row {
		display: flex;
		flex-flow: nowrap;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}

		& + & {
			margin-top: 25px;
		}
	}
	&_name {
		margin-top: 32px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 20px;
		}

		&:first-child {
			margin-top: 0px;
		}
	}
	&_cell {
		padding-top: 3px;
		vertical-align: top;
		display: inline-block;
		width: calc(100% - 130px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			padding: 0px 20px;
		}
	}
	&_item {
		display: none;

		&._active {
			display: block;
		}
	}
	&_type {
		width: 130px;
		position: relative;
		vertical-align: top;
		font: 14px/24px $fms;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			padding: 0px 20px;
			line-height: 30px;
			margin-bottom: 15px;
			border-bottom: 1px solid $c5;
		}

		&:before {
			color: $c1;
			margin-right: 7px;
			vertical-align: top;
			display: inline-block;
			font: 24px/24px 'icons';
		}

		&._place {
			&:before {
				content: $ico_mark;
			}
		}
		&._phone {
			&:before {
				content: $ico_phone;
			}
		}
		&._email {
			&:before {
				content: $ico_mail;
			}
		}
	}
}