.plan {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_wrap {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			max-width: none;
		}
	}
	&_head {
		padding: 0px 20px;
		margin-bottom: 24px;

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_view {
		width: $880;
		position: relative;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			margin: 0px;
			display: block;
		}

		&:after {
			top: 0px;
			left: 0px;
			opacity: 0;
			z-index: 10;
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			visibility: hidden;
			transition: all .4s ease-out-sine;
			background:
				repeating-linear-gradient(
					-45deg,
					#fff,
					#fff 4px,
					$c6 0px,
					$c6 12px
				);
			background-size: 51px 51px;
			animation: slide 20s infinite linear forwards;
		}

		&._loading {
			&:after {
				opacity: .6;
				visibility: visible;
			}
		}
	}
	&_foot {
		margin-top: 20px;
		padding-left: calc(100% - $880);

		@mixin max-width, $mobile-breakpoint {
			margin-top: 48px;
			padding: 0px 10px;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_ref {
		float: right;
		text-align: right;
		margin: -2px 0px 0px;

		@mixin max-width, $mobile-breakpoint {
			float: none;
			text-align: left;
			margin: 24px 0px -6px;
		}

		li {
			margin: 0px;
			padding: 0px;
			vertical-align: top;
			display: inline-block;

			@mixin max-width, $mobile-breakpoint {
				display: block;
			}

			&:before {
				content: normal;
			}

			& + li {
				margin-left: 20px;

				@mixin max-width, $mobile-breakpoint {
					margin: 10px 0px 0px;
				}
			}
		}

		&_item {
			color: #000;
			padding-top: 6px;
			margin-left: 28px;
			position: relative;
			vertical-align: top;
			font: 13px/14px $fms;
			display: inline-block;

			&:before {
				top: 0px;
				color: $c1;
				right: 100%;
				display: block;
				margin-right: 6px;
				position: absolute;
				font: 24px/20px 'icons';
			}

			&._plan {
				&:before {
					content: $ico_calendar;
				}
			}
			&._file {
				&:before {
					content: $ico_download;
				}
			}
		}
	}
	&_zero {
		display: block;
		background: $c6;
		padding: 0px 20px;
		text-align: center;
		font: 14px/36px $fms;

		@mixin max-width, $mobile-breakpoint {
			line-height: 18px;
			padding: 17px 20px 15px;
		}
	}
	&_item {
		color: #000;
		background: $c6;
		padding: 0px 10px;
		position: relative;

		@mixin max-width, $mobile-breakpoint {
			padding: 10px;
		}

		&_ico {
			width: 30px;
			height: 30px;
			color: #000;
			background: $c5;
			margin-right: 8px;
			border-radius: 50%;
			text-align: center;
			vertical-align: top;
			display: inline-block;

			&._new {
				&:after {
					content: 'new';
					font: 11px/30px $fmb;
				}
			}
			&._sale {
				padding-left: 2px;

				&:after {
					content: '%';
					font: 16px/30px $fmb;
				}
			}
			&._video {
				padding-left: 1px;

				&:after {
					content: $ico_play;
					font: 24px/30px 'icons';
				}
			}
		}
		&_msg {
			color: $c2;
			height: 30px;
			border: none;
			text-align: center;
			vertical-align: top;
			font: 13px/32px $fm;
			display: inline-block;

			&:after {
				color: $c1;
				vertical-align: top;
				display: inline-block;
				content: $ico_comment;
				font: 24px/32px 'icons';
				transition: all .2s ease-out-sine;
			}

			&:hover {
				color: $c2;

				&:after {
					color: $c2;
				}
			}
		}
		&_str {
			display: block;
			font: 13px/16px $fm;

			&._date {
				font-family: $fms;

				@mixin max-width, $mobile-breakpoint {
					vertical-align: top;
					display: inline-block;
				}
			}
			&._time {
				vertical-align: top;
				display: inline-block;
			}
			&._cost {
				font-family: $fmb;
				white-space: nowrap;
				text-transform: uppercase;
			}
			&._city,
			&._cost {
				margin-top: 5px;
			}
		}
		&_btn {
			width: 100px;

			@mixin max-width, $mobile-breakpoint {
				width: 100%;
			}
		}
		&_row {
			margin-top: 4px;
		}
		&_club {
			color: #000;
			font: 13px/16px $fm;
		}
		&_name {
			white-space: normal;
			font: 14px/18px $fms;
		}
		&_cell {
			padding: 10px;
			position: relative;
			vertical-align: top;
			display: inline-block;

			&._1 {
				width: 50%;

				@mixin max-width, $mobile-breakpoint {
					width: 100%;
					padding-bottom: 0px;
				}

				&:after {
					width: 100%;
					content: '';
					display: table;

					@mixin max-width, $mobile-breakpoint {
						padding-top: 10px;
						border-bottom: 1px solid $c5;
					}
				}
			}
			&._2 {
				width: calc(25% - 60px);

				@mixin max-width, $mobile-breakpoint {
					width: 50%;
				}
			}
			&._3 {
				width: calc(25% - 60px);

				@mixin max-width, $mobile-breakpoint {
					width: 50%;
				}
			}
			&._4 {
				width: 120px;

				@mixin max-width, $mobile-breakpoint {
					width: auto;
					display: block;
					padding-top: 0px;
				}
			}
		}
		&_marks {
			margin-top: 7px;
		}

		& + & {
			margin-top: 2px;
		}
		&._hide {
			display: none;
		}
		&._active {
			display: block;
		}
	}
	&_arrow {
		top: 100%;
		color: $c1;
		width: 60px;
		height: 36px;
		margin-top: 2px;
		background: #fff;
		position: absolute;
		text-align: center;
		border: 1px solid $c5;
		transition: all .4s ease-out-sine;

		&:after {
			vertical-align: top;
			display: inline-block;
			font: 28px/36px 'icons';
		}

		&:hover {
			color: $c2;
			background: $c6;
			border-color: $c5;
		}
		&._prev {
			right: 59px;

			&:after {
				content: $ico_arw_t1;
			}
		}
		&._next {
			right: 0px;

			&:after {
				content: $ico_arw_b1;
			}
		}
		&._disable {
			color: $c5;
			cursor: default;
			border-color: $c5;
			background: #fff;
		}
	}
	.ulinks {
		li {
			vertical-align: top;
			display: inline-block;

			@mixin max-width, $mobile-breakpoint {
				display: block;
			}

			& + li {
				margin: 0px 0px 0px 20px;

				@mixin max-width, $mobile-breakpoint {
					margin: 10px 0px 0px;
				}
			}
		}
	}
	/*#endregion [object][;]*/

	&._home {
		^&_head {
			width: $880;
			min-width: 880px;
			padding: 0px 46px 0px 20px;

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				min-width: auto;
			}
		}
	}
	&._mini {
		max-width: 820px;
		padding: 0px 20px;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
		}

		^&_foot {
			padding: 0px;

			@mixin max-width, $mobile-breakpoint {
				padding: 0px 10px;
			}
		}
	}
}







@keyframes slide {
	0%{
		background-position-x:0%;
	}
	100% {
		background-position-x:100%;
	}
}