.post {
	&_bar {
		max-width: $mw;
		margin: 60px auto;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px;
			margin: 40px auto;
			max-width: $mw_mbl;
		}

		&_box {
			margin: 0px auto;
			padding: 0px 20px;
			max-width: $mw1220;

			@mixin max-width, $mobile-breakpoint {
				max-width: none;
				padding: 0px 10px;
			}

			&:after {
				width: 100%;
				content: '';
				display: table;
			}

			&._rgt {
				&:before {
					content: '';
					float: left;
					display: block;
					width: calc(33.3334% - (20px - 20px * 1/3));

					@mixin max-width, $mobile-breakpoint {
						display: none;
					}
				}
			}
		}
		&_side {
			float: right;
			width: calc(66.6667% - (20px - 20px * 2/3));

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				float: none;
			}

			^&_wrap {
				margin: 0px;
			}
		}
		&_wrap {
			display: flex;
			flex-flow: wrap;
			margin: 0px auto;
			max-width: 780px;

			@mixin max-width, $mobile-breakpoint {
				display: block;
			}
		}
		&_cell {
			width: calc(50% - 10px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				padding: 0px 20px;
			}

			&._2 {
				margin-left: 20px;

				@mixin max-width, $mobile-breakpoint {
					margin: 13px 0px 0px;
				}

				&:first-child {
					margin-left: calc(50% + 10px);

					@mixin max-width, $mobile-breakpoint {
						margin: 0px;
					}
				}
			}
		}
		&_line {
			margin: 0px auto;
			padding: 0px 20px;
			max-width: $mw1220;

			@mixin max-width, $mobile-breakpoint {
				max-width: none;
				padding: 0px 10px;
			}

			&:after {
				height: 1px;
				content: '';
				display: block;
				background: $c5;
			}

			&:last-child {
				margin-top: 25px;

				@mixin max-width, $mobile-breakpoint {
					margin-top: 28px;
				}
			}
			&:first-child {
				margin-bottom: 25px;

				@mixin max-width, $mobile-breakpoint {
					margin-bottom: 28px;
				}
			}
		}

		&._top {
			margin-top: 30px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 28px;
			}
		}
	}
	&_tags {
		padding-top: 8px;
		margin-bottom: -4px;
		font: 13px/15px $fm;

		@mixin max-width, $mobile-breakpoint {
			margin: 0px;
			padding: 0px;
		}
	}
	&_nets {
		text-align: right;

		@mixin max-width, $mobile-breakpoint {
			text-align: left;
		}

		.mnets {
			&_lbl {
				@mixin max-width, $mobile-breakpoint {
					height: auto;
					display: block;
					line-height: 18px;
				}
			}
		}
	}
	&_line {
		padding: 0px 20px;
		max-width: $mw1220;
		margin: 30px auto 60px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
			margin-bottom: 40px;
		}

		&:after {
			height: 1px;
			content: '';
			display: block;
			background: $c5;
		}

		&:last-child {
			margin-top: 25px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 28px;
			}
		}
		&:first-child {
			margin-bottom: 25px;

			@mixin max-width, $mobile-breakpoint {
				margin-bottom: 28px;
			}
		}
	}
}