.preloader {
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 1500;
	position: fixed;
	text-align: center;
	align-items: center;
	justify-content: center;
	background: rgba(#000, .8);
	transition: all .4s ease-out-sine;

	&_spin {
		vertical-align: top;
		display: inline-block;

		&_itm {
			width: 4px;
			margin: 2px;
			height: 35px;
			background: #fff;
			border-radius: 2px;
			vertical-align: top;
			display: inline-block;
			animation: preloader .9s -.6s cubic-bezier(.85, .25, .37, .85) infinite both;

			&._1,
			&._5 {
				animation-delay: -0.2s;
			}
			&._2,
			&._4 {
				animation-delay: -0.4s;
			}
		}
	}

	&._show {
		opacity: 1;
	}
	&._ready {
		display: flex;
	}
}

@keyframes preloader {
	0% {
		transform: scaley(1);
	}
	50% {
		transform: scaley(.4);
	}
	100% {
		transform: scaley(1);
	}
}