.review {
	max-width: $mw;
	/*font-size: 0px;
	line-height: 0px;*/
	margin: 60px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		margin-top: 40px;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_head {
		padding: 0px 40px;
		max-width: $mw1220;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 30px;
			margin-bottom: 24px;
		}

		&:before {
			height: 2px;
			content: '';
			display: block;
			background: $c1;
			margin: 0px -20px 30px;
		}
	}
	&_body {
		column-count: 2;
		column-gap: 20px;
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
			column-gap: normal;
			column-count: auto;
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		width: 100%;

		&_box {
			min-width: 100%;
			vertical-align: top;
			display: inline-block;
		}
		&_view {
			cursor: pointer;
			position: relative;
			border-radius: 15px;
			border: 1px solid $c5;
			padding-bottom: 56.25%;
			background-size: cover;
			background-repeat: no-repeat;

			&:after {
				top: 100%;
				left: 70px;
				width: 0px;
				height: 0px;
				content: '';
				display: block;
				position: absolute;
				border-style: solid;
				border-width: 0px 20px 20px 0px;
				border-color: transparent $c5 transparent transparent;
			}
		}
		&_play {
			top: 0px;
			left: 0px;
			z-index: 2;
			width: 100%;
			height: 100%;
			position: absolute;

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				content: '';
				width: 48px;
				height: 48px;
				display: block;
				position: absolute;
				margin: -24px 0px 0px -24px;
			}
			&:after {
				background: url('/assets/img/design/obj/play_1.svg') 50% no-repeat;
				background-size: contain;
			}
			&:before {
				border-radius: 50%;
				background: rgba($c1, .6);
				transition: all .2s ease-out-sine;
				box-shadow: 0px 2px 6px rgba(#000, .25);
			}

			&:hover {
				&:before {
					background: $c1;
				}
			}
		}
		&_text {
			color: #000;
			position: relative;
			font: 16px/20px $fm;
			border-radius: 15px;
			border: 1px solid $c5;
			padding: 16px 20px 15px;

			&:after,
			&:before {
				top: 100%;
				width: 0px;
				height: 0px;
				content: '';
				display: block;
				position: absolute;
				border-style: solid;
			}
			&:after {
				left: 71px;
				border-width: 0px 18px 18px 0px;
				border-color: transparent #fff transparent transparent;
			}
			&:before {
				left: 70px;
				border-width: 0px 20px 20px 0px;
				border-color: transparent $c5 transparent transparent;
			}

			&._shave {
				padding-bottom: 30px;
			}
		}
		&_logo {
			max-width: 100px;
			margin: 40px 0px 0px 20px;
		}
		&_name {
			display: block;
			margin-top: 17px;
			padding: 0px 20px;
			font: 14px/18px $fm;
		}

		& + & {
			margin-top: 55px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 35px;
			}
		}
	}
	&_more {
		width: 194px;
		height: 40px;
		color: #000;
		display: block;
		font: 14px/40px $fms;
		border: 1px solid $c5;
		margin: 56px auto 0px;
		padding: 0px 20px 0px 16px;
		transition: all .4s ease-out-sine;

		&:before {
			color: $c1;
			margin-right: 6px;
			vertical-align: top;
			display: inline-block;
			content: $ico_ellipsis;
			font: 24px/40px 'icons';
		}

		&:hover {
			background: $c6;
		}
	}
	/*#endregion [object][;]*/

	/*#region [plugin][:]*/
	.shave {
		&_more {
			right: 20px;
			bottom: 10px;
			color: #000;
			cursor: pointer;
			position: absolute;
			font: 13px/16px $fm;

			&:before {
				top: 0px;
				color: $c1;
				right: 100%;
				display: block;
				position: absolute;
				content: $ico_arw_b1;
				font: 24px/16px 'icons';
			}

			&._active {
				&:before {
					content: $ico_arw_t1;
				}
			}
		}
	}
	/*#endregion [plugin][;]*/

}