.story {
	max-width: $mw;
	margin: 60px auto;
	text-align: center;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
	}

	&_body {
		text-align: left;
		max-width: 640px;
		margin: 27px auto;
		padding: 0px 30px;

		@mixin max-width, $mobile-breakpoint {
			max-width: $mw_mbl;
		}
	}
	&_item {
		display: none;

		strong {
			color: $c1;
		}

		&._active {
			display: block;
		}
	}
	&_title {
		margin-bottom: 34px;
		vertical-align: top;
		display: inline-block;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 30px;
		}
	}
}