.team {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_tab {
		display: none;

		&._active {
			display: block;
		}
	}
	&_head {
		padding: 0px 40px;
		position: relative;
		max-width: $mw1220;
		margin: 0px auto 34px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 30px;
			margin-bottom: 24px;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}
		&:before {
			height: 2px;
			content: '';
			display: block;
			background: $c1;
			margin: 0px -20px 30px;
		}
	}
	&_body {
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}

		&:after,
		&:before {
			width: 100%;
			content: '';
			display: table;
		}
	}
	&_foot {
		margin: 0px auto;
		max-width: $mw1220;
		padding: 30px 10px 0px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}

		&_cell {
			float: right;
			margin: 0px 10px;
			padding: 0px 20px;
			width: calc(33.3334% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				float: none;
				margin: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_beep {
		color: #000;
		font: 14px/18px $fm;
		vertical-align: top;
		display: inline-block;
		border: 1px solid $c5;
		margin: 40px 10px 0px;
		padding: 27px 20px 30px;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			margin: 40px 0px 0px;
		}

		p {
			margin: 0px;
		}
		a {
			font-family: $fms;
		}

		&_link {
			margin-top: 24px;
			padding-left: 47px;

			&:before {
				left: 14px;
				content: $ico_question;
			}
		}

		&:nth-child(-n + 3) {
			margin-top: 0px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 40px;
			}
		}
	}
	&_item {
		color: #000;
		padding: 0px 20px;
		font: 13px/18px $fm;
		vertical-align: top;
		display: inline-block;
		margin: 40px 10px 0px;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			display: block;
			margin: 40px 0px 0px;
		}

		p {
			margin: 3px 0px -6px;
		}

		&_img {
			border: none;
			display: block;
			margin: 0px -20px 18px;
		}
		&_src {
			width: 100%;
		}
		&_name {
			color: $c2;
			border-width: 2px;
			font: 18px/20px $fms;
		}

		& + & {
			@mixin max-width, $mobile-breakpoint {
				margin-top: 40px;
			}
		}
		&:nth-child(-n + 3) {
			margin-top: 0px;
		}
	}
	&_title {
		float: left;
		margin-bottom: 0px;

		@mixin max-width, $mobile-breakpoint {
			float: none;
		}
	}
	/*#endregion [object][;]*/

}