.videos {
	max-width: $mw;
	font-size: 0px;
	line-height: 0px;
	margin: 10px auto 0px;

	@mixin max-width, $mobile-breakpoint {
		margin: 0px auto;
		max-width: $mw_mbl;
	}

	/*#region [scheme][:]*/
	&_body {
		overflow: hidden;
		margin: 0px auto;
		padding: 0px 10px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}
	}
	&_foot {
		margin: 0px auto;
		max-width: $mw1220;
		padding: 30px 10px 0px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}

		&:after {
			width: 100%;
			content: '';
			display: table;
		}

		&_cell {
			float: right;
			margin: 0px 10px;
			padding: 0px 20px;
			width: calc(33.3334% - 20px);

			@mixin max-width, $mobile-breakpoint {
				width: auto;
				float: none;
				margin: 0px;
			}
		}
	}
	/*#endregion [scheme][;]*/

	/*#region [object][:]*/
	&_item {
		float: left;
		color: #fff;
		cursor: pointer;
		position: relative;
		margin: 20px 10px 0px;
		background-size: cover;
		background-repeat: no-repeat;
		width: calc(33.3334% - 20px);

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			float: none;
			margin: 10px 0px 0px;
		}

		&:after {
			height: 0px;
			content: '';
			display: block;
			background: rgba(#000, .4);
			padding-bottom: calc(100% / (380 / 214));
		}

		&_size {
			width: calc(49.9999% - 10px);

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}

			&:after {
				height: 0px;
				content: '';
				display: block;
				padding-bottom: calc((99.9999% / (380 / 214)) * 2 + 20px);
			}
		}
		&_play {
			z-index: 2;
			right: 20px;
			width: 48px;
			height: 48px;
			bottom: 20px;
			position: absolute;
		}
		&_name {
			left: 0px;
			z-index: 2;
			width: 100%;
			bottom: 0px;
			position: absolute;
			font: 16px/20px $fms;
			padding: 0px 88px 15px 20px;
		}

		&._x2 {
			@mixin min-width, $mobile-breakpoint {
				margin-bottom: -0.5px;
				width: calc(66.6667% - 20px);
			}

			&:after {
				@mixin min-width, $mobile-breakpoint {
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					padding: 0px;
					position: absolute;
				}
			}

			^&_play {
				@mixin min-width, $mobile-breakpoint {
					width: 72px;
					height: 72px;
				}
			}
			^&_name {
				@mixin min-width, $mobile-breakpoint {
					font: 30px/36px $fms;
					padding: 0px 142px 31px 50px;
				}
			}
		}
		&:hover {
			^&_play {
				background: $c1;
			}
		}
		&._right {
			float: right;

			@mixin max-width, $mobile-breakpoint {
				float: none;
			}
		}
	}
	/*#endregion [object][;]*/

}