.pvideo {
	top: 0px;
	left: 0px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 550;
	padding: 20px;
	display: flex;
	overflow: auto;
	position: fixed;
	flex-flow: column;
	visibility: hidden;
	justify-content: center;
	background: rgba(#000, .85);
	transition: opacity .4s ease-in-out,
				visibility .4s ease-in-out;

	/*#region [scheme][:]*/
	&_view {
		z-index: 15;
		width: 100%;
		max-width: 880px;
		margin: 0px auto;
		position: relative;
		
		&_box {
			position: relative;
			background: #000;
			padding-bottom: 56.25%;
		}
	}
	/*#endregion [scheme][;]*/
	
	/*#region [object][:]*/
	&_close {
		top: 0px;
		right: 0px;
		z-index: 30;
		width: 30px;
		height: 30px;
		color: #fff;
		display: block;
		position: absolute;
		transition: all .2s ease-out-sine;

		&:after {
			width: 2px;
			height: 20px;
		}
		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			position: absolute;
			background: currentColor;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:before {
			width: 20px;
			height: 2px;
		}

		&:hover {
			background: $c2;
		}
	}
	&_overlay {
		top: 0px;
		left: 0px;
		z-index: 10;
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: absolute;
	}
	/*#endregion [object][;]*/

	&._show {
		opacity: 1;
		visibility: visible;
	}
}