@define-mixin max-width, $size {
	@media screen and (max-width: $size) {
		@mixin-content;
	}
}

@define-mixin min-width, $size {
	@media screen and (min-width: calc($size + 1px)) {
		@mixin-content;
	}
}