.btn,
button {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	max-width: 100%;
	cursor: pointer;
	overflow: hidden;
	background: none;
	box-shadow: none;
	user-select: none;
	text-shadow: none;
	position: relative;
	border-radius: 0px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	transform: translateZ(0);
	transition: all .4s ease-out-sine;
}
.btn {
	&_1 {
		color: #fff;
		background: $c1;
		font: 12px/12px $fms;
		padding: 10px 15px 8px;

		&:hover {
			color: #fff;
			background: $c2;
		}
	}
	&_2 {
		color: #fff;
		background: $c3;
		font: 12px/12px $fms;
		padding: 10px 15px 8px;

		&:hover {
			color: #fff;
			background: $c2;
		}
	}
	&_3 {
		color: #fff;
		background: $c1;
		text-align: left;
		font: 14px/18px $fms;
		padding: 10px 15px 8px 0px;

		&:before {
			top: 0px;
			height: 36px;
			display: block;
			position: absolute;
			font: 24px/38px 'icons';
		}

		&:hover {
			color: #fff;
			background: $c2;
		}
	}
	&_4 {
		color: #fff;
		background: $c1;
		font: 14px/18px $fms;
		padding: 10px 15px 8px;

		&:hover {
			color: #fff;
			background: $c2;
		}
	}
}