.checkbox {
	top: -1px;
	color: $c1;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: #fff;
	position: relative;
	vertical-align: top;
	display: inline-block;
	border: 1px solid $c5;
	transition: border .3s ease-out-sine;

	&:after {
		top: 50%;
		left: 50%;
		opacity: 0;
		content: '';
		width: 10px;
		height: 6px;
		display: block;
		margin-top: -1px;
		position: absolute;
		pointer-events: none;
		transition: all .3s ease-out-sine;
		border-left: 2px solid currentColor;
		border-bottom: 2px solid currentColor;
		transform: translate(-45%, -55%) rotate(-45deg) scale(1.25);
	}

	&:hover,
	&._hover {
		border-color: #c0c0c0;
	}
	&._error {
		border-color: $cerror;
	}
	&._checked {
		&:after {
			opacity: 1;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}