.input {
	height: 40px;
	padding: 2px 15px 0px;
}
textarea {
	height: 160px;
	padding: 6px 15px;
}
.input,
textarea {
	width: 100%;
	margin: 0px;
	resize: none;
	color: #000;
	outline: none;
	display: block;
	overflow: hidden;
	font: 13px/18px $fm;
	border: 1px solid $c5;
	transition: color .4s ease-out-sine,
				border .4s ease-out-sine;

	&::placeholder {
		opacity: 1;
		color: $chint;
		transition: all .2s ease-out-sine;
	}

	&:hover,
	&:focus {
		border-color: #c0c0c0;
	}
	&:focus {
		&::placeholder {
			color: transparent !important;
		}
	}
	&._error {
		border-color: $cerror;
	}
}