.radio {
	color: $c1;
	width: 16px;
	height: 16px;
	cursor: pointer;
	border-radius: 50%;
	background: #fff;
	position: relative;
	vertical-align: top;
	display: inline-block;
	border: 1px solid $c5;
	transition: border .3s ease-out-sine;

	&:after {
		top: 50%;
		left: 50%;
		opacity: 0;
		width: 8px;
		height: 8px;
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
		pointer-events: none;
		transform: scale(1.5);
		background: currentColor;
		margin: -4px 0px 0px -4px;
		transition: all .3s ease-out-sine;
	}

	&:hover,
	&._hover {
		border-color: #c0c0c0;
	}
	&._error {
		border-color: $cerror;
	}
	&._checked {
		&:after {
			opacity: 1;
			transform: scale(1);
		}
	}
}