.bx-yandex-map {
	display: flex;
	flex-flow: column;
	text-align: center;
	background: #dbdbdb;
	width: 100% !important;
	vertical-align: middle;
	justify-content: center;

	.ymaps-mini-map {
		display: none !important;
	}
	.ymaps-b-zoom_hints-pos_right {
		top: 5px !important;
	}
}