/*! Flickity v2.1.1
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
	position: relative;
}
.flickity-enabled:focus {
	outline: none;
}
.flickity-viewport {
	overflow: hidden;
	position: relative;
	height: 100%;
}
.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
	position: absolute;
	border: none;
}
.flickity-button:hover {
	cursor: pointer;
}
.flickity-button:focus {
	outline: none;
}
.flickity-button:disabled {
	cursor: auto;
}

/* ---- page dots ---- */
.flickity-page-dots {
	left: 0px;
	width: 100%;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
	position: absolute;
	text-align: center;
}
.flickity-rtl .flickity-page-dots {
	direction: rtl;
}
.flickity-page-dots .dot {
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: inline-block;
}