html {
	&.remodal-is-locked {
		overflow: hidden;
		touch-action: none;
	}
}

.remodal {

	/* #region [base][:] */
	width: 100%;
	cursor: auto;
	outline: none;
	display: none;
	font: 0/0 serif;
	text-align: left;
	vertical-align: middle;
	text-size-adjust: 100%;

	&-overlay {
		top: -5000px;
		z-index: 1500;
		left: -5000px;
		display: none;
		right: -5000px;
		bottom: -5000px;
		position: fixed;
		backface-visibility: hidden;

		&.remodal-is-opening,
		&.remodal-is-closing {
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
		}
		&.remodal-is-opening {
			animation-name: remodal-overlay-opening-keyframes;
		}
		&.remodal-is-closing {
			animation-name: remodal-overlay-closing-keyframes;
		}
	}
	&-wrapper {
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		z-index: 1500;
		display: none;
		overflow: auto;
		position: fixed;
		cursor: pointer;
		text-align: center;
		transform: translateZ(0);
		backface-visibility: hidden;

		&:after {
			content: '';
			height: 100%;
			margin-left: -0.05em;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&-is {
		&-opening,
		&-closing {
			animation-duration: 0.3s;
			animation-fill-mode: forwards;
		}
		&-opening {
			animation-name: remodal-opening-keyframes;
		}
		&-closing {
			animation-name: remodal-closing-keyframes;
		}
		&-initialized {
			display: inline-block;
		}
	}
	/* #endregion [base][;] */

	/* #region [theme][:] */
	&-overlay {
		background: rgba(#fff, .95);
	}
	/* #endregion [theme][;] */

}


/* #region [keyframes][:] */
@keyframes remodal-opening-keyframes {
	from {
		opacity: 0;
		transform: scale(.95);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
@keyframes remodal-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* #endregion [keyframes][;] */