.sod {
	&_list {
		display: block;
		overflow-y: auto;
		max-height: 200px;

		&_wrapper {
			top: 100%;
			left: -1px;
			color: $c1;
			z-index: 1;
			height: auto;
			display: none;
			overflow: hidden;
			position: absolute;
			background: #fff;
			border: 1px solid $c5;
			width: calc(100% + 2px);
		}
	}
	&_label {
		height: 38px;
		color: #000;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		font: 13px/42px $fm;
		text-overflow: ellipsis;
		padding: 0px 32px 0px 15px;
	}
	&_select {
		z-index: 50;
		display: block;
		cursor: pointer;
		text-align: left;
		user-select: none;
		background: #fff;
		position: relative;
		border: 1px solid $c5;
		-webkit-touch-callout: none;
		transition: border .4s ease-out-sine;

		&:after {
			top: 50%;
			color: $c1;
			right: 3px;
			width: 24px;
			height: 24px;
			display: block;
			margin-top: -12px;
			position: absolute;
			content: $ico_arw_b1;
			font: 23px/26px 'icons';
		}

		select {
			opacity: 0;
			width: 0px;
			height: 0px;
			top: -10000px;
			left: -10000px;
			position: fixed;
			font: 14px/18px $fm;
		}

		&.open {
			z-index: 100;

			&:after {
				content: $ico_arw_t1;
			}

			.sod_list_wrapper {
				display: block;
			}
		}
		&.above {
			.sod_list_wrapper {
				top: auto;
				bottom: 100%;
			}
		}
		&.touch {
			select {
				top: 0px;
				left: 0px;
				z-index: 1;
				width: 100%;
				height: 100%;
				position: absolute;
				-webkit-appearance: menulist-button;
				display: block !important;
			}
		}
		&._error {
			border-color: $cerror;
		}
		&.disabled {
			cursor: default;
			border-color: $c6;

			&.open {
				.sod_list_wrapper {
					display: none;
				}
			}
		}
	}
	&_option {
		height: 40px;
		color: #000;
		display: block;
		cursor: pointer;
		overflow: hidden;
		padding: 0px 15px;
		background: #fff;
		position: relative;
		white-space: nowrap;
		font: 13px/42px $fm;
		text-overflow: ellipsis;
		transition: all .2s ease-out-sine;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 20px;
		}

		&:hover {
			background: $c6;
		}
		&.disabled,
		&.selected,
		&.is-placeholder {
			display: none;
		}
	}
	&_prefix {
		font-family: $fms;
		margin-right: 5px;
	}
}
.sod_option[data-value=''] {
	display: none !important;
}