.ucash {
	width: 308px;
	display: table;
	max-width: 100%;
	text-align: center;
	margin: 40px -5px 0px;

	&_list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&_item {
		margin: 0px 5px;
	}
	&_link {
		color: #000;
		margin-top: 4px;
		position: relative;
		vertical-align: top;
		font: 13px/14px $fms;
		display: inline-block;

		&:hover {
			color: $c1;
		}
	}
}