.uevent {
	border: none;
	color: #fff;
	display: block;
	position: relative;

	&:before {
		top: 0px;
		left: 0px;
		z-index: 1;
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background: rgba(#000, .4);
	}

	&_img {
		width: 100%;
		height: auto;
	}
	&_tag {
		top: 0px;
		left: 20px;
		z-index: 2;
		height: 40px;
		background: $c2;
		padding: 0px 20px;
		position: absolute;
		vertical-align: top;
		font: 14px/42px $fms;
		display: inline-block;
		text-transform: uppercase;
		transition: all .4s ease-out-sine;
	}
	&_data {
		left: 0px;
		z-index: 2;
		width: 100%;
		bottom: 0px;
		position: absolute;
		font: 14px/18px $fm;
		padding: 0px 20px 15px;

		p {
			margin: 0px;

			& + p {
				margin-top: 12px;
			}
		}
		b,
		strong {
			font-family: $fms;
		}
	}

	&:hover {
		color: #fff;

		^&_tag {
			color: $c2;
			background: #fff;
		}
	}
}