.ufind {
	font: 13px/16px $fm;
	margin-bottom: -5px;
	padding: 26px 20px 0px;

	p {
		margin: 14px 0px 0px;
	}

	&_box {
		margin: 0px auto;
		max-width: 800px;
	}
	&_name {
		color: $c2;
		font: 16px/20px $fm;
	}
	&_part {
		color: #000;
		font: 14px/14px $fm;
		margin: 14px 0px 5px;

		&_lbl {
			font-family: $fms;
		}
		&_lnk {
			color: #000;

			&:hover {
				color: $c2;
			}
		}
	}
	&_link {
		color: $c2;
		overflow: hidden;
		white-space: nowrap;
		font: 13px/16px $fm;
		margin-bottom: -1px;
		vertical-align: top;
		display: inline-block;
		text-overflow: ellipsis;
	}

	& + & {
		margin-top: 30px;
		border-top: 1px solid $c5;
	}
	&:first-child {
		padding-top: 8px;
	}
}