.uheader {
	font-size: 0px;
	max-width: $mw;
	background: $c1;
	margin: 0px auto;
	line-height: 0px;
	overflow: hidden;
	position: relative;

	@mixin max-width, $mobile-breakpoint {
		box-shadow:
			568px 0px 0px $c1,
			-568px 0px 0px $c1;
	}

	&_wrap {
		z-index: 2;
		display: flex;
		flex-flow: wrap;
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;
		position: relative;

		@mixin max-width, $mobile-breakpoint {
			display: block;
			padding: 0px 30px;
			max-width: $mw_mbl;
		}
	}
	&_cell {
		z-index: 1;
		flex-grow: 1;
		display: flex;
		flex-flow: column;
		min-height: 120px;
		position: relative;
		padding: 20px 20px 14px;
		justify-content: flex-end;
		width: calc(33.3337% - (20px - 20px * 1/3));

		@mixin max-width, $mobile-breakpoint {
			width: auto;
			min-height: 60px;
			padding: 20px 0px 14px;
		}

		&._x2 {
			border: none;
			background: $c1;
			width: calc(66.6667% - (20px - 20px * 2/3));

			@mixin max-width, $mobile-breakpoint {
				width: auto;
			}
		}
		& + & {
			margin-left: 18px;
			border-left: 2px solid #fff;

			@mixin max-width, $mobile-breakpoint {
				display: none;
			}
		}
	}
	&_title {
		color: #fff;

		&[href],
		&:hover {
			color: #fff;
		}
	}

	&._news {
		display: none;

		@mixin max-width, $mobile-breakpoint {
			display: block;
		}
	}
	& + .news {
		margin-top: 23px;
	}
}