.uhead {
	&-post {
		margin: 60px auto;
		font: 16px/20px $fm;
		border-bottom: 2px dashed $c5;

		@mixin max-width, $mobile-breakpoint {
			margin: 40px auto;
			font: 14px/18px $fm;
		}

		^&_box {
			margin: 0px auto;
			padding: 0px 20px 55px;
			max-width: calc(100% / (780 / 620));

			@mixin max-width, $wide-breakpoint {
				max-width: 620px;
			}
			@mixin max-width, $mobile-breakpoint {
				padding: 0px 20px 40px;
			}
		}
		^&_text {
			margin-top: 17px;

			@mixin max-width, $mobile-breakpoint {
				margin-top: 20px;
			}

			p {
				margin: 0px;

				& + p {
					margin-top: 21px;
				}
			}
		}
		^&_title {
			font: 30px/36px $fms;

			@mixin max-width, $mobile-breakpoint {
				font: 20px/24px $fms;
			}
		}

		&:first-child {
			margin-top: 0px;
		}
	}
}