.ulinks {
	li {
		margin: 0px;
		padding: 0px;

		& + li {
			margin-top: 10px;
		}
		&:before {
			content: normal;
		}
	}
	&_item {
		height: 30px;
		border: none;
		color: #000;
		max-width: 100%;
		background: $c6;
		overflow: hidden;
		padding: 0px 10px;
		position: relative;
		white-space: nowrap;
		vertical-align: top;
		font: 14px/32px $fms;
		display: inline-block;
		text-overflow: ellipsis;
		transition: all .4s ease-out-sine;

		&:before {
			color: $c1;
			margin-right: 7px;
			vertical-align: top;
			display: inline-block;
			font: 24px/30px 'icons';
			transition: all .4s ease-out-sine;
		}

		&._url {
			&:before {
				content: $ico_link;
			}
		}
		&._file {
			&:before {
				content: $ico_download;
			}
		}
		&._plan {
			&:before {
				content: $ico_calendar;
			}
		}
		&:hover {
			color: #fff;
			background: $c2;

			&:before {
				color: #fff;
			}
		}
	}

	&._ipost {
		margin: 25px 0px 5px;
	}
}