.ulogo {
	top: 50%;
	left: 40px;
	z-index: 30;
	border: none;
	color: #b1b1b1;
	position: absolute;
	vertical-align: top;
	display: inline-block;
	transform: translateY(-50%);
	transition: color .4s ease-out-sine;

	@mixin max-width, $mobile-breakpoint {
		top: 15px;
		left: 20px;
		transform: none;
	}

	&_txt {
		height: 30px;
		color: #000;
		display: none;
		vertical-align: top;
		font: 14px/32px $fms;
		text-transform: uppercase;

		@mixin max-width, $mobile-breakpoint {
			display: inline-block;
		}
	}
	&_img {
		@mixin max-width, $mobile-breakpoint {
			display: none;
		}

		&._ipm {
			width: 145px;
			height: 66px;
		}
		&._kef {
			width: 135px;
			height: 90px;
		}
		&._beroc {
			width: 237px;
			height: 57px;
		}
		&._research {
			width: 222px;
			height: 62px;
		}
	}
	&_svg {
		fill: currentColor;

		@mixin max-width, $mobile-breakpoint {
			display: none;
		}
	}

	&._kef {
		&:after {
			@mixin max-width, $mobile-breakpoint {
				color: #7c7c7c;
				content: $ico_eu;
				margin-left: 10px;
				vertical-align: top;
				display: inline-block;
				font: 24px/30px 'icons';
			}
		}
	}
	&._beroc {
		/*top: 10px;
		transform: none;
		max-width: 166px;

		img {
			width: 100%;
		}*/
	}
	&:hover {
		color: $c1;
	}
}