.umsg {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-flow: column;
	position: absolute;
	justify-content: flex-end;

	p {
		margin: 0px;
	}

	&_box {
		z-index: 1;
		position: relative;
		text-align: center;
		background: #fff;
		padding: 36px 20px 35px;
		box-shadow: 0px 2px 10px rgba(#000, .25);
	}
	&_name {
		display: block;
		margin-bottom: 12px;
		font: 16px/20px $fms;

		&:last-child {
			margin-bottom: 0px;
		}
	}
	&_close {
		top: 8px;
		right: 8px;
		width: 20px;
		height: 20px;
		position: absolute;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			display: block;
			background: $c1;
			position: absolute;
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			width: 20px;
			height: 1px;
		}
		&:before {
			width: 1px;
			height: 20px;
		}
	}
	&_overlay {
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		cursor: pointer;
		position: absolute;
		background: rgba($c6, .8);
	}
}