.unews {
	border: none;
	display: block;

	&_img {
		width: 100%;
		margin-bottom: 16px;
	}
	&_name {
		color: $c2;
		font: 16px/20px $fm;
		transition: all .2s ease-out-sine;
		border-bottom: 1px solid transparent;
	}

	&:hover {
		^&_name {
			border-color: currentColor;
		}
	}
}