.ushow {
	color: #fff;
	height: 220px;
	max-width: 780px;
	margin: 60px auto;
	padding: 0px 40px;
	user-select: none;
	position: relative;
	font: 13px/15px $fm;
	background: 50% no-repeat;
	background-size: cover;

	@mixin max-width, $mobile-breakpoint {
		padding: 0px;
		margin: 40px -20px;
	}

	&:after {
		top: 0px;
		left: 0px;
		z-index: 1;
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(#000, .4);
	}

	&_data {
		z-index: 2;
		height: 100%;
		max-width: 400px;
		position: relative;
		padding: 26px 20px 20px;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
		}

		p {
			margin: 12px 0px 0px;
		}
	}
	&_name {
		color: #fff;
		border-width: 2px;
		font: 20px/24px $fms;

		&:hover {
			color: #fff;
		}
	}
	&_link {
		padding-left: 43px;
		white-space: nowrap;
		text-overflow: ellipsis;

		&:before {
			left: 12px;
			content: $ico_done;
		}
	}
	&_foot {
		left: 0;
		z-index: 2;
		width: 100%;
		bottom: 20px;
		padding: 0px 60px;
		position: absolute;

		@mixin max-width, $mobile-breakpoint {
			padding: 0px 20px;
		}
	}
}