.ustrip {
	max-width: $mw;
	margin: 60px auto;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px auto;
		padding: 0px 10px;
		max-width: $mw_mbl;
	}

	&_box {
		margin: 0px auto;
		padding: 0px 20px;
		max-width: $mw1220;

		@mixin max-width, $mobile-breakpoint {
			max-width: none;
			padding: 0px 10px;
		}

		&:after {
			height: 2px;
			content: '';
			display: block;
			background: $c1;
		}
	}
}