.ustream {
	border: none;
	color: #000;
	display: block;
	max-width: 460px;
	position: relative;
	padding: 8px 0px 0px 40px;

	&:after,
	&:before {
		content: '';
		display: block;
		position: absolute;
	}
	&:after {
		top: 11px;
		left: 13px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 4px 0pc 4px 8px;
		border-color: transparent transparent transparent #fff;
	}
	&:before {
		top: 0px;
		left: 0px;
		width: 30px;
		height: 30px;
		background: $c1;
		border-radius: 50%;
		transition: all .4s ease-out-sine;
	}

	&:hover {
		&:before {
			background: $c2;
		}
	}
}