.uup {
	color: $c1;
	opacity: 0;
	right: 20px;
	width: 60px;
	height: 54px;
	bottom: 20px;
	z-index: 100;
	display: block;
	position: fixed;
	text-align: center;
	visibility: hidden;
	transform: scale(.8);
	border: 1px solid $c5;
	background: rgba(#fff, .8);
	transition: all .4s ease-out-sine;

	@mixin max-width, $mobile-breakpoint {
		right: 10px;
		width: 44px;
		height: 40px;
		bottom: 10px;
	}

	&:after {
		vertical-align: top;
		content: $ico_arw_t1;
		display: inline-block;
		font: 28px/54px 'icons';

		@mixin max-width, $mobile-breakpoint {
			line-height: 40px;
		}
	}

	&._up {
		bottom: 49px;
	}
	&._show {
		opacity: 1;
		transform: none;
		visibility: visible;
	}
	&:hover {
		color: $c2;
		border-color: $c2;
	}
}