.uvideo {
	margin: 60px auto;
	position: relative;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px -20px;
	}

	&:after {
		content: '';
		display: block;
		background: $c5;
		padding-bottom: calc(100% / (560 / 315));
	}

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}

/*.uvideo {
	color: #fff;
	cursor: pointer;
	margin: 60px auto;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;

	@mixin max-width, $mobile-breakpoint {
		margin: 40px -20px;
	}

	&:after {
		content: '';
		display: block;
		background: rgba(#000, .4);
		padding-bottom: calc(100% / (780 / 439));
	}

	&_play {
		z-index: 2;
		right: 20px;
		width: 72px;
		height: 72px;
		bottom: 20px;
		position: absolute;

		@mixin max-width, $mobile-breakpoint {
			width: 48px;
			height: 48px;
		}
	}
	&_name {
		left: 0px;
		z-index: 2;
		width: 100%;
		bottom: 0px;
		position: absolute;
		font: 30px/36px $fms;
		padding: 0px 142px 31px 50px;

		@mixin max-width, $mobile-breakpoint {
			font: 16px/20px $fms;
			padding: 0px 88px 15px 20px;
		}
	}

	&:hover {
		^&_play {
			background: $c1;
		}
	}
	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}*/