.hidden {
	width: 0px;
	height: 0px;
	right: 100%;
	bottom: 100%;
	min-width: 0px;
	min-height: 0px;
	position: fixed;
	visibility: hidden;
}
.video {
	&_box {
		background: $c5;
		position: relative;
		padding-bottom: 56.25%;
	}
}

._hide4dsk {
	@mixin min-width, $mobile-breakpoint {
		display: none;
	}
}
._hide4mbl {
	@mixin max-width, $mobile-breakpoint {
		display: none;
	}
}

._overflow {
	overflow: auto;
	-webkit-overflow-scrolling: touch;

	&:last-child {
		margin-bottom: 0px;
	}
	&:first-child {
		margin-top: 0px;
	}
}
._clearfix {
	&:after,
	&:before {
		width: 100%;
		content: '';
		display: table;
	}
}
._no_scrolling {
	overflow: hidden;
}

._flft {float: left;}
._frgt {float: right;}

._alft {text-align: left;}
._argt {text-align: right;}
._actr {text-align: center;}

._vtop {vertical-align: top;}
._vmid {vertical-align: middle;}
._vbot {vertical-align: bottom;}

._ttup {text-transform: uppercase;}
._ttlw {text-transform: lowercase;}