*,
*:after,
*:before {
	outline: none;
	box-sizing: border-box;
	-webkit-print-color-adjust:exact;
}

*::selection {
	color: #fff;
	background: $c1;
}

html,
body {
	margin: 0px;
	height: 100%;
	padding: 0px;
}
body {
	color: #000;
	min-width: 1280px;
	position: relative;
	background: #fff;
	font: 14px/18px $fm;
	text-size-adjust: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: antialiased;

	@mixin max-width, $mobile-breakpoint {
		min-width: auto;
		padding-top: 60px;
	}
}

/*#region [tags][:]*/
p,
img,
ol, ul,
figure,
blockquote,
h1, .h1, h2, .h2,
h3, .h3, h4, .h4,
h5, .h5, h6, .h6 {
	&:last-child {
		margin-bottom: 0px;
	}
}
iframe {
	border: none;
}
/*#endregion [tags][;]*/